<template>
<div class="blackjack-table">
  <h5 class="text-center border-bottom border-white">{{l.ttl("BlackJack")}}</h5>
  <div v-if="result">
    <div class="blackjack-card-container">
      <div class="clearfix">
        <h6 class="float-left">{{l.ttl("BlackJack.Dealer")}}</h6>
        <h6 class="float-right">{{result.dealerScore}} {{l.lbl("BlackJack.Score")}}</h6>
      </div>
      <SuitedCard :cards="result.dealersCards" />
      <div class="clearfix">
        <h6 class="float-left">{{l.ttl("BlackJack.Player")}}</h6>
        <h6 class="float-right">{{result.playerScore}} {{l.lbl("BlackJack.Score")}}</h6>
      </div>
      <SuitedCard :cards="result.playersCards" />
    </div>
    <div v-if="result.state == state.undetermined" class="text-center w-50 mx-auto">
      <label for="BlackjackStake">{{l.lbl("BlackJack.Stake")}}</label>
      <b-form-input id="BlackjackStake" v-model="stake" type="number" class="mb-1" readonly="readonly"></b-form-input>
      <b-button v-if="result.canStay" 
        class="mr-1 mb-1"
        @click="stayAsync" variant="danger">{{l.act("BlackJack.Stay")}}</b-button>
      <b-button variant="danger" class="mb-1" @click="hitAsync">{{l.act("BlackJack.Hit")}}</b-button>
    </div>
  </div>
  <div v-if="!result" class="blackjack-card-container"></div>
  <div v-if="result == null || result.state != state.undetermined" class="text-center w-50 mx-auto">
    <div>
      <label for="BlackjackStake">{{l.lbl("BlackJack.Stake")}}</label>
      <b-form-input id="BlackjackStake" v-model="stake" type="number" :state="isValidStake" class="mb-1"></b-form-input>
      <b-button block variant="danger" @click="newGameAsync">{{l.act("BlackJack.NewGame")}}</b-button>
    </div>
    <p class="p-1 mt-2 mb-1">{{statusMessage}}</p>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import SuitedCard from "@/components/SuitedCard.vue";
import { IBlackJackResult } from "@/store/interfaces/npcs/blackjack";
import { String } from 'typescript-string-operations';

class BlackJackState {
    undetermined:string  = "Undetermined";
    draw:string          = "Draw";
    winning:string       = "Winning";
    losing:string        = "Losing";
    blackJack:string     = "BlackJack";
}

@Component({ components: { SuitedCard } })
export default class BlackJack extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    result: IBlackJackResult | null = null;

    state:BlackJackState = new BlackJackState();
    stake:number = 1;

    @Prop()
    npcId!:number 

    get statusMessage():string {
      if(this.result != null){
        switch(this.result.state){
          case this.state.winning:
              return String.Format(this.l.txt("BlackJack.Won"),this.result.profit); 
            case this.state.losing:
              return String.Format(this.l.txt("BlackJack.Lost"),this.result.stake); 
            case this.state.blackJack:
              return String.Format(this.l.txt("BlackJack.WonBlackJack"),this.result.profit); 
            case this.state.draw:
              return String.Format(this.l.txt("BlackJack.Draw"),this.result.profit); 
        }
      }

      return "";
    }
    
    async created(): Promise<void> {
        this.l.collection = "GameResource";
        const response = await auth.api.instance.get<IBlackJackResult>(`/game/blackjack/${this.npcId}`)
        this.result = response.data;
    }

    async refreshAsync(result?:IBlackJackResult): Promise<void> {
      if(result == undefined || result.state != this.state.undetermined){
        await character.loadAsync();
        this.$emit("refreshed");
      }
    }

    get isValidStake() : boolean{
        if(character.playerinfo == null){
          return false;
        }

        if(this.stake <= 0 || this.stake > character.playerinfo.money * 0.10) {
          return false;
        }

        return true;
    }

    async newGameAsync(){
      
        if(this.isValidStake == false) {
          return;
        }

        const postData:any = { stake:this.stake };
        const response = await auth.api.instance.post<IBlackJackResult>(`/game/blackjack/${this.npcId}`,postData)
        this.result = response.data;
        this.refreshAsync();
    }

    async hitAsync(){
        const response = await auth.api.instance.get<IBlackJackResult>(`/game/blackjack/${this.npcId}/hit`)
        await this.refreshAsync(response.data);
        this.result = response.data;
    }

    async stayAsync(){
        const response = await auth.api.instance.get<IBlackJackResult>(`/game/blackjack/${this.npcId}/stay`)
        await this.refreshAsync(response.data);
        this.result = response.data;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .blackjack-table{
    background-color: green;
    color: white;
    padding: 5px;
    border: 4px double goldenrod;
    min-height: 459px;
  }
  .blackjack-card-container{
    min-height: 224px;
  }
</style>
