<template>
<div id="RouletteContainer">
  <div id="Roulette">
    <canvas id="RouletteWheel" width="300" height="300"></canvas>
    <img id="RoulettePrizePointer" src="@/assets/img/basic_pointer.png" alt="V" />
    <Portal to="playerActionPanel" v-if="displayGame">
    <b-overlay :show="!hasNotPlayed" rounded="sm" class="mb-2"
      variant="transparent" spinner-type=""
      id="RouletteBetCollapse">
      <div class="card">
      <div id="RouletteBetTable" class="card-body">
        <h5 class="card-title">Roulette Action</h5>
      <div>
        <label for="RouletteStake">{{l.lbl("Roulette.Stake")}}</label>
        <b-form-input size="sm" id="RouletteStake" v-model="stake" type="number" :state="isValidStake" class="mb-1"></b-form-input>
      </div>
        <b-form-group :label="l.lbl('Roulette.Number')">
          <div id="rouletteBet" 
            class="roulette-radios" role="radiogroup">
            <label v-for="(item) in betOptions" 
              v-bind:key="`roulette_num_${item.text}`">
                <input type="radio" name="rouletteBet" :value="item.text" v-model="bet.number" />
                <span class="label">{{item.text}}</span>
              </label>
            <label>
              <input type="radio" name="rouletteBet" value="OneToEighteen" v-model="bet.number" />
              <span class="label">1-18</span>
            </label>
            <label>
              <input type="radio" name="rouletteBet" value="NineteenToThirtySix" v-model="bet.number" />
              <span class="label">19-36</span>
            </label>
          </div>
        </b-form-group>
        <b-form-group :label="l.lbl('Roulette.Color')">
          <b-form-radio-group :disabled="isNumber">
            <b-form-radio v-model="bet.color" name="rouletteBetColor" 
              value="Red">{{l.lbl("Roulette.Red")}}</b-form-radio>
            <b-form-radio v-model="bet.color" name="rouletteBetColor" 
              value="Black">{{l.lbl("Roulette.Black")}}</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
        <b-form-group :label="l.lbl('Roulette.EvenOrOdd')">
          <b-form-radio-group :disabled="isNumber">
            <b-form-radio v-model="bet.evenOrOdd" name="rouletteBetEvenOrOdd" 
              value="Even">{{l.lbl("Roulette.Even")}}</b-form-radio>
            <b-form-radio v-model="bet.evenOrOdd" name="rouletteBetEvenOrOdd" 
              value="Odd">{{l.lbl("Roulette.Odd")}}</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
        <b-button block variant="primary" :disabled="!isValid" v-show="!bet.hasPlayed"
          @click="newGameAsync()">{{l.act("Roulette.Bet")}}</b-button>
      </div>
      </div>
    </b-overlay>
    </Portal>
    <div v-show="bet.hasPlayed">
      <div v-if="result && displayResult">
        <p>{{statusMessage}}</p>
      </div>
      <div>
       {{betMessage}}
      </div>
      <b-button block variant="primary"
      @click="resetBet()">{{l.act("Roulette.PlayAgain")}}</b-button>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import { String } from 'typescript-string-operations';
import { randomInteger, randomNumber, clone } from "@/store/utilities/utility";
import {TweenMax} from "gsap";
// @ts-ignore
import { Winwheel } from '@/libs/Winwheel';
import { ISlot, IRouletteResult } from "@/store/interfaces/npcs/roulette";

interface IDegreeSpan {
  start:number;
  end:number;
}

interface IRandomWheel {
  duration:number;
  spins:number;
}

interface ISegment{
  text:string;
  fillStyle:string;
}

interface IBet {
  hasPlayed:boolean;
  number:string;
  color:string | null;
  evenOrOdd:string | null;
}

class Segment implements ISegment{
  text:string;
  fillStyle:string;
  constructor(text:string,fillStyle:string) {
    this.text = text;
    this.fillStyle = fillStyle;
  }

  strokeStyle = "white";
  lineWidth = 1;
}

@Component({ components: {  } })
export default class Roulette extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    stake:number = 1;
    

    @Prop()
    npcId!:number;

    @Prop()
    displayGame!:boolean;

    data:Array<Segment> = [];
    ctx:CanvasRenderingContext2D | null = null;
    wheel: Winwheel | null = null;
    result: IRouletteResult | null = null;
    displayResult:boolean = false;
    
    setHasPlayed(value:boolean){
      this.bet.hasPlayed = value;
      if(!value){
        this.displayResult = false;
      }
    }

    bet: IBet = {
      hasPlayed:false,
      number:"",
      color:null,
      evenOrOdd:null,
    }

    get hasNotPlayed():boolean{
      return !this.bet.hasPlayed;
    }

    get statusMessage():string{
      if(this.result == null){
        return "";
      }

      if(this.result.profit <= 0){
        return String.Format(this.l.txt("Roulette.Lost"),this.result.profit);
      }

      if(this.result.profit == this.result.stake){
        this.l.txt("Roulette.Draw");
      }

      return String.Format(this.l.txt("Roulette.Won"),this.result.profit);
    }

    get betMessage():string{
      if(this.bet.number == ""){
        return "";
      }

      let number:string = this.bet.number;
      switch(this.bet.number){
        case "OneToEighteen":
          number = "1-18";
          break;
        case "NineteenToThirtySix":
          number = "19-36";
          break;
      }

      let color:string = "";
      if(this.bet.color != null){
        color = this.bet.color == "Red" ? "red" : "black";
      }

      let evenOrOdd:string = "";
      if(this.bet.evenOrOdd != null){
       evenOrOdd = this.bet.evenOrOdd == "Even" ? "even" : "odd";
      }

      return String.Format(this.l.txt("Roulette.Bet"),color,evenOrOdd,number)
        .replace(/\s+/g, " ");
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        const response = await auth.api.instance.get<ISlot[]>(`/game/roulette/`);
        response.data.forEach(item => {
          this.data.push(new Segment(item.number.toString(),item.color));
        });

       this.$nextTick(() => {
         this.init();
       });
    }

    get isNumber():boolean{
      return !isNaN(parseInt(this.bet.number));
    }

    get isValidStake() : boolean{
        if(character.playerinfo == null){
          return false;
        }

        if(this.stake <= 0 || this.stake > character.playerinfo.money * 0.10) {
          return false;
        }

        return true;
    }

    get isValid() : boolean{
      return this.isValidStake && this.bet.number.length > 0;
    }

    async newGameAsync(){
      
        if(this.isValidStake == false) {
          return;
        }

        let postData:any = { stake:this.stake };
        if(this.isNumber){
          postData.number = parseInt(this.bet.number)
        }
        else{
          if(this.bet.number == "OneToEighteen"){
            postData.oneToEighteen = true;
          }
          else if(this.bet.number == "NineteenToThirtySix"){
            postData.nineteenToThirtySix = true;
          }

          postData.color = this.bet.color;
          postData.evenOrOdd = this.bet.evenOrOdd;
        }

        this.bet.hasPlayed = true;
        const response = await auth.api.instance.post<IRouletteResult>(`/game/roulette/${this.npcId}`,postData)
        this.result = response.data;
        this.setPrizeAndSpin(this.result.number);
    }

    async refreshAsync(): Promise<void> {
        await character.loadAsync();
        this.$emit("refreshed");
        this.displayResult = true;
    }

    get segments(): Array<Segment> {
      if(this.data.length > 0){
        return this.data;
      }

      return [];
    }

      get betOptions(): Array<Segment> {
      if(this.segments.length > 0){
        var options = clone(this.segments);
        options.splice(0,1);
        return options;
      }

      return [];
    }

    get segmentDegree(): number{
      if(this.segments.length == 0){
        return 0;
      }

      return 360 / this.segments.length;
    }

    segmentDegreeSpan(num:number): IDegreeSpan {
      const start:number = (this.segmentDegree) * num;
      return { start: start, end: start + this.segmentDegree - 0.01 };
    }


    beforeDestroy(){
      this.resetWheel();
    }

    init(){
      var canvas = document.getElementById("RouletteWheel") as HTMLCanvasElement;
      if(!canvas.getContext)
      {
        return;
      }

      const random = this.random();

      this.ctx = canvas.getContext("2d");
      this.wheel = new Winwheel({
            'canvasId'    : 'RouletteWheel',
            'numSegments'    : this.segments.length,
            'segments'       : this.segments,
            'textFillStyle' : 'white',
            'animation' :
            {
                'type'          : 'spinToStop',
                'duration'      : random.duration,
                'spins'         : random.spins,
                'callbackFinished' : this.refreshAsync
            }
        });
    }

    random() : IRandomWheel{
      const duration:number = randomInteger(4,10);
      const spins:number = randomInteger(duration,duration*2);
      return {duration:duration,spins:spins};
    }

    // Function with formula to work out stopAngle before spinning animation.
    setPrizeAndSpin(num:number)
    {
        if(this.wheel == null){
          return;
        }

        if(this.wheel.rotationAngle != 0){
          this.resetWheel();
        }

        const degreeSpan = this.segmentDegreeSpan(num);

        // This formula always makes the wheel stop somewhere inside prize 3 at least
        // 1 degree away from the start and end edges of the segment.
        let stopAt = randomNumber(degreeSpan.start,degreeSpan.end);
        // Important thing is to set the stopAngle of the animation before stating the spin.
        this.wheel.animation.stopAngle = stopAt;

 
        // May as well start the spin from here.
        this.wheel.startAnimation();
    }

    resetBet(){
      this.bet.number = "";
      this.bet.color = null;
      this.bet.evenOrOdd = null;
      this.setHasPlayed(false);
    }

    resetWheel()
    {
        if(this.wheel == null){
          return;
        }

        const random = this.random();
        this.wheel.animation.duration = random.duration;
        this.wheel.animation.spins = random.spins;

        this.wheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
        this.wheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
        this.wheel.draw();                // Call draw to render changes to the wheel.
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  #RouletteContainer {
    border: 4px double goldenrod;
    margin-top: 10px;
    background-color: #444;
    color:#FFF;
    padding: 5px;
  }

  #Roulette {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  
  #RoulettePrizePointer {
      position: absolute;
      left: 150px - 25px;
  }

</style>
