<template>
  <div class="Reel" v-bind:class="{'is-locked':locked}" @click="lock()">
    <div class="Reel-inner">
      <img class="Reel-image" :src="reelTileData[reelIndices[1]].image" />
      <img class="Reel-image" :src="reelTileData[reelIndices[2]].image" />
      <img class="Reel-image" :src="reelTileData[reelIndices[3]].image" />
      <img class="Reel-image" :src="reelTileData[reelIndices[4]].image" />
      <img class="Reel-image" :src="reelTileData[reelIndices[5]].image" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import character from "@/store/modules/character";
import localization, { LocalizationHelper } from "@/store/modules/localization";
import auth from "@/store/modules/auth";
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import { String } from "typescript-string-operations";
import { IReelData } from "@/store/interfaces/npcs/slotmachine";

// Grape,
// Apple,
// WildCherry,
// Bell,
// Bar,
// LuckySeven

@Component({ components: {} })
export default class SlotReel extends Vue {
  l: LocalizationHelper = new LocalizationHelper();
  stake: number = 1;

  @Prop()
  npcId!: number;

  @Prop()
  value: string | null = null;

  @Prop()
  canlock!: boolean;

      momentum: number = 0;
      
      audio: Record<string,HTMLAudioElement> = {
        spin: new Audio(`${process.env.BASE_URL}snd/slotmachine/spin.mp3`),
        spinEnd: new Audio(`${process.env.BASE_URL}snd/slotmachine/spin-end.mp3`),
        lock: new Audio(`${process.env.BASE_URL}snd/slotmachine/lock.mp3`)
      };

      reelTileCount:number = 15;
      reelTileData: Array<IReelData> | null = null;
      static reelSourceData: Array<IReelData> = [{
        name: 'Grape',
        value: 2,
        image: `${process.env.BASE_URL}img/slotmachine/grapes.svg`,
      }, {
        name: 'Apple',
        value: 4,
        image: `${process.env.BASE_URL}img/slotmachine/apple.svg`,
      }, {
        name: 'WildCherry',
        value: 6,
        image: `${process.env.BASE_URL}img/slotmachine/cherry.svg`,
      }, {
        name: 'Bell',
        value: 8,
        image: `${process.env.BASE_URL}img/slotmachine/bell.svg`,
      }, {
        name: 'Bar',
        value: 16,
        image: `${process.env.BASE_URL}img/slotmachine/bar.svg`,
      }, {
        name: 'LuckySeven',
        value: 32,
        image: `${process.env.BASE_URL}img/slotmachine/seven.svg`,
      }];

      reelIndex:number = 2
      reelIndices:Record<number,number> = {
        1:0,
        2:1,
        3:2,
        4:3,
        5:4,
      };

      locked: boolean = false;

  async created(): Promise<void> {
    this.l.collection = "GameResource";
  }

  mounted() {
    this.$el.addEventListener("transitionend", this.animateEnd);
  }

  beforeMount() {
    // Build up the reelTileData array with random tiles
    var frs:Array<IReelData> = [];
    var count = this.reelTileCount;
    this.audio.spin.volume = 0.3;
    this.audio.spinEnd.volume = 0.8;
    this.audio.lock.volume = 0.2;
    this.audio.spin.currentTime = 0.3;

    // Method 2, sort on value, use index to determine entry count, shuffle
    var reelSourceData = SlotReel.reelSourceData.slice(0);
    reelSourceData.sort(function(a, b) {
      return b.value - a.value;
    });
    reelSourceData.forEach(function(sd, i) {
      var times = i + 1 + i; // 0+1+0=1, 3+2+3=8
      while (times > 0) {
        frs.push(sd);
        times--;
      }
    });

    function shuffle(array:Array<IReelData>) {
      var currentIndex = array.length,
        temporaryValue,
        randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }

    this.reelTileData = shuffle(frs);
  }
  run() {
    if (!this.locked) {
      var min = 8;
      var max = 28;
      var momentum = Math.floor(Math.random() * (max - min + 1) + min);
      this.momentum = momentum; //the duration
      this.audio.spin.play();
      this.animate();
    } else {
      this.locked = false;
      if(this.reelTileData != null){
        this.$emit("stopped", this.reelTileData[this.reelIndex], true);
      }
    }
  }
  animate() {
    this.$el.classList.add("move");
  }
  animateEnd() {
    this.$el.classList.remove("move");
    this.reIndex();
    this.momentum = this.momentum - 1;
    let correctSlot = this.value != null && this.reelTileData != null && this.reelTileData[this.reelIndex].name == this.value;
    if (this.momentum > 0 || !correctSlot) {
      setTimeout(this.animate, 10);
    } else {
      
      if(this.reelTileData != null){
        this.$emit("stopped", this.reelTileData[this.reelIndex]);
        console.log("end",this.$el.id,this.reelIndex);
      }

      this.audio.spinEnd.play();
      this.audio.spin.pause();
      this.audio.spin.currentTime = 0.3;
    }
  }
  
  reIndex() {
    if(this.reelTileData == null){
      return;
    }

    var end = this.reelTileData.length - 1; //this.reelTileCount - 1
    var index = this.reelIndex === 0 ? end : this.reelIndex - 1;

    this.reelIndex = index;
    this.reelIndices[1] = index === 1 ? end : index === 0 ? end - 1 : index - 2;
    this.reelIndices[2] = index === 0 ? end : index - 1;
    this.reelIndices[3] = index;
    this.reelIndices[4] = index === end ? 0 : index + 1;
    this.reelIndices[5] = index === end - 1 ? 0 : index === end ? 1 : index + 2;
  }

  lock() {
    if (this.canlock) {
      this.locked = !this.locked;
      this.audio.lock.play();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.Reel {
  width: 90px;
  height: 209.97px;
  overflow: hidden;
}
.Reel.is-locked {
  /*   opacity: 0.8; */
  background: rgba(0, 0, 0, 0.1);
}
.Reel:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.Reel-inner {
  position: relative;
  top: -119.97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Reel.move .Reel-inner {
  -webkit-transition: margin-top 0.04s ease;
  transition: margin-top 0.04s ease;
  margin-top: 90px;
}
.Reel-image {
  width: 90px;
  width: 90px;
}
</style>
