<template>
  <div class="SlotMachine-container">
    <h5 class="text-center border-bottom border-white text-white">{{l.ttl("SlotMachine")}}</h5>
    <div class="SlotMachine-wrapper">
      <div class="SlotMachine">
        <div class="SlotMachine-reels">
          <div class="SlotMachine-shadow"></div>
          <div class="SlotMachine-payline"></div>
          <SlotReel id="reel1" ref="reel1" :canlock="canlock" @stopped="reelStopped" :value="slotsValue[0]"></SlotReel>
          <SlotReel id="reel2" ref="reel2" :canlock="canlock" @stopped="reelStopped" :value="slotsValue[1]"></SlotReel>
          <SlotReel id="reel3" ref="reel3" :canlock="canlock" @stopped="reelStopped" :value="slotsValue[2]"></SlotReel>
        </div>
        <div class="SlotMachine-stats">
          <div class="SlotMachine-stat is-credit">
            <div class="SlotMachine-statTitle">Credits</div>
            <div class="SlotMachine-statValue"><i class="ra ra-gold-bar"></i> {{credits.toFixed(0)}} / 5</div>
            <div class="SlotMachine-statSub"><i class="ra ra-gold-bar"></i> {{spend.toFixed(0)}} spent</div>
          </div>
          <div class="SlotMachine-stat is-win">
            <div class="SlotMachine-statTitle">Won</div>
            <div class="SlotMachine-statValue"><i class="ra ra-gold-bar"></i> {{win.toFixed(0)}}</div>
          </div>
        </div>
        <div class="SlotMachine-actions">
          <label class="SlotMachine-coin-label" for="SlotMachineInsertCoin">Insert coin</label>
          <button class="SlotMachine-coin" id="SlotMachineInsertCoin" role="button" @click="insertCoin"></button>
          <button class="SlotMachine-button is-spin" :disabled="!isCreditsValid"
            v-bind:class="{ 'invalid': !isCreditsValid }"
          @click="spinAsync()">Play</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import character from "@/store/modules/character";
import localization, { LocalizationHelper } from "@/store/modules/localization";
import auth from "@/store/modules/auth";
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import { String } from "typescript-string-operations";
import SlotReel from "@/components/npcs/SlotReel.vue";
import { IReelData, ISlotMachineResult } from "@/store/interfaces/npcs/slotmachine";

@Component({ components: { SlotReel } })
export default class SlotMachine extends Vue {
  l: LocalizationHelper = new LocalizationHelper();

  @Prop()
  npcId!: number;

  spend: number = 0;
  credits: number = 0;
  win: number = 0;
  resultData: Array<IReelData> = [];
  result:ISlotMachineResult | null = null;
  canlock: boolean = true;
  waslocked: boolean = false;
  audio: Record<string,HTMLAudioElement> = {
    win: new Audio(
      `${process.env.BASE_URL}snd/slotmachine/win.mp3`
    ),
    insertCoin: new Audio(
      `${process.env.BASE_URL}snd/slotmachine/insert-coin.mp3`
    ),
    bigwin: new Audio(
      `${process.env.BASE_URL}snd/slotmachine/big-win.mp3`
    )
  };

  async created(): Promise<void> {
    this.l.collection = "GameResource";
  }

  get slotsValue() : Array<string | null> {
    if(this.result != null && this.result.slots.length > 2){
      return this.result.slots;
    }

    return [null,null,null];
  }

  get isCreditsValid():boolean {
      if(character.playerinfo == null){
        return false;
      }

      if(this.credits <= 0 || this.credits > 5){
        return false;
      }

      return true;
  }

  async newGameAsync(){

  }

  async spinAsync() {
      if(!this.isCreditsValid  && this.resultData.length === 0){
        return;
      }

      const postData:any = { credits:this.credits };
      const response = await auth.api.instance.post<ISlotMachineResult>(`/game/slotmachine/${this.npcId}`,postData)
      this.result = response.data;

      this.resultData = [];
      this.credits = 0;
      (this.$refs.reel1 as SlotReel).run();
      (this.$refs.reel2 as SlotReel).run();
      (this.$refs.reel3 as SlotReel).run();
  }

  insertCoin() {
    if(this.credits > 4){
      return;
    }


    this.audio.insertCoin.currentTime = 0;
    this.audio.insertCoin.play();

    this.credits += 1;
    this.spend += 1;
  }

  reelStopped(resultData: IReelData, wasLocked: boolean) {
    if (wasLocked) this.waslocked = wasLocked;

    this.resultData.push(resultData);
    if (this.resultData.length === 3) {
      this.checkWin();
      if (this.waslocked) {
        this.waslocked = false;
        this.canlock = false;
      } else {
        this.canlock = true;
      }
    }
  }

  checkWin() {
    if (this.resultData.length === 3) {
      // ;-)
      var v1 = this.resultData[0];
      var v2 = this.resultData[1];
      var v3 = this.resultData[2];
      if (this.result != null && this.result.profit > 0) {
        if (this.result.profit >= 10 * this.result.credits) {
          this.audio.bigwin.play();
        } else {
          this.audio.win.play();
        }

        this.win += this.result.profit;
        this.waslocked = true; // prevent lock after an unlocked win
      }
    }

    character.loadAsync();
    this.$emit("refreshed");
    this.resultData = [];
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.SlotMachine-container {
  border: 4px double goldenrod;
  margin-top: 10px;
  background-color: maroon;
  padding: 5px;
}

.SlotMachine-wrapper {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SlotMachine {
  border-radius: 5px;
  background-color: beige;
}
.SlotMachine-reels {
  display: flex;
  position: relative;
}
.SlotMachine-shadow {
  border-radius: 4px 4px 0 0;
  pointer-events: none;
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;

  box-shadow: inset 0 25px 30px -5px rgba(0, 0, 0, 0.1),
    inset 0 5px 10px -2px rgba(0, 0, 0, 0.2),
    inset 0 -25px 30px -5px rgba(0, 0, 0, 0.1),
    inset 0 -5px 10px -2px rgba(0, 0, 0, 0.2);
}
.SlotMachine-payline {
  position: absolute;
  top: 104.994px;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.SlotMachine-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 0;
}

.SlotMachine-coin-label {
    font-size: 14px;
    font-weight: bold;
    color: gold;
    margin-top: 5px;
    padding: 14px 12px;
    margin-left: 20px;
    border-radius: 5px;
}

.SlotMachine-coin {
  width: 6px;
  height: 38px;
  background: rgb(140, 140, 140);
  padding: 0;
  border: 0;
  border-radius: 6px;
  margin: 12px 10px 0 10px;
}
.SlotMachine-coin:hover {
  background: rgb(235, 232, 232);
}
.SlotMachine-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 10px
}
.SlotMachine-statTitle {
  font-size: 12px;
  color: rgba(255, 0, 0, 0.8);
}
.SlotMachine-statValue {
  padding: 5px 10px;
  background: rgba(255, 0, 0, 0.15);
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 25px;
  text-align: left;
  color: rgba(255, 0, 0, 0.8);
  text-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}
.SlotMachine-statSub {
  font-size: 12px;
  color: rgba(255, 0, 0, 0.8);
}

.SlotMachine-actions {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: rgb(20, 20, 20);
  border-radius: 0 0 4px 4px;
}
.SlotMachine-button {
  font-size: 17px;
  font-weight: bold;
  padding: 14px 12px;
  margin-left: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 2px rgb(0, 0, 0);
  box-shadow: 0 1px 2px 2px rgb(0, 0, 0);

  &:focus {
      outline: none;
  }

  &:active {
    -webkit-box-shadow: 0 0 2px 1px rgb(0, 0, 0);
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
  }
}

.SlotMachine-button.is-spin {
  background: rgba(0, 255, 0, 0.4);
  border: 1px solid rgba(0, 255, 0, 0.4);
  &:hover,&:active {
    background: rgba(0, 255, 0, 0.6);
  }
}

.SlotMachine-button.is-spin.invalid {
  background: rgba(255, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 0.4);
  cursor: not-allowed;
}
</style>
