<template>
<div class="work-container">
  <h5 class="text-center">{{l.ttl("Work")}}</h5>
  <ul class="list-unstyled work-list">
    <li v-for="item in workCollection" v-bind:key="item.id" @click="selectWork(item.type)">
          <div class="border border-primary p-2 mt-2 clearfix">
            <div class="float-left">
              <h6>{{l.ttl(item.type)}}</h6>
              <p class="small">{{l.txt(item.type)}}</p>
              <p>
                <span :title="l.lbl('Work.Strength')">
                  <i class="ra ra-muscle-up"></i>
                  {{item.strength}}
                </span>
                <span :title="l.lbl('Work.Constitution')">
                  <i class="ra ra-muscle-fat"></i>
                  {{item.constitution}}
                </span>
                <span :title="l.lbl('Work.Dexterity')">
                  <i class="ra ra-player-dodge"></i>
                  {{item.dexterity}}
                </span>
                <span :title="l.lbl('Work.Intelligence')">
                  <i class="ra ra-aware"></i>
                  {{item.intelligence}}
                </span>
              </p>
            </div>
            <div class="float-right">
              <b-form-radio v-model="selectedWork" name="selectedWork" 
              :disabled="!hasWorkRequirement(item)"
              :value="item.type">{{l.lbl("Work.Selected")}}</b-form-radio>
            </div>
          </div>
    </li>
  </ul>
  <form>
    <div class="form-group">
        <label for="energy">{{l.lbl("Work.Energy")}}: {{(energy * 100).toFixed(0)}}%</label>
        <b-form-input id="energy" 
          v-model="energy" 
          :state="isEnergyValid"
          type="range" step="0.05" min="0.1" :max="playerEnergy != 0 ? playerEnergy : 1"></b-form-input>
    </div>
    <div class="form-group">
      <b-button variant="primary" :disabled="isInvalid" @click="workAsync" block>{{l.act("Work")}}</b-button>
    </div>
    <p>{{message}}</p>
  </form>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import { String } from 'typescript-string-operations';
import { ICharacter } from "@/store/interfaces/character";
import { AxiosResponse } from 'axios';

interface IWorkDetail{
  strength: number;
  constitution: number;
  dexterity: number;
  intelligence: number;
  type:string;
}

interface IWork{
  details: IWorkDetail;
  wage: number;
  energyLeft: number;
  totalMoney: number;
}

@Component({ components: { } })
export default class Work extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    @Prop()
    workTypes!: Record<string,number>;
    @Prop()
    npcId!: number;

    workCollection:Array<IWorkDetail> = [];
    energy: number = 0.1;
    selectedWork: string | null = null;
    message:string = "";

    get playerEnergy() : number{
      return character.playerinfo != null ? character.playerinfo.energy : 0;
    }
    
    get isEnergyValid() : boolean | null{
      return this.playerEnergy >= this.energy ? null : false;
    }

    get isInvalid():boolean{
      return this.isEnergyValid === false || this.selectedWork == null;
    }

    get hasWorkRequirement(): (detail:IWorkDetail) => boolean {
      return function(detail){
        if(character.playerinfo == null){
          return false;
        }
        
        const p = character.playerinfo;
        if(p.strength < detail.strength || p.constitution < detail.constitution 
        || p.dexterity < detail.dexterity || p.intelligence < detail.intelligence){
          return false;
        }

        return true;
      };
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        this.loadAsync();
    }

    async loadAsync(){
        let workCollection:Array<IWorkDetail> = [];
        for (const key in this.workTypes) {
          if (this.workTypes.hasOwnProperty(key)) {
            const element = this.workTypes[key];
            const response = await auth.api
              .instance.get<IWorkDetail>(`/game/npccustoms/${this.npcId}/workdetails?type=${key}`);
              workCollection.push(response.data);
          }
        }

        this.workCollection = workCollection;
    }

    selectWork(workType:string){
      const detail = this.workCollection.find(x => x.type == workType);
      if(detail == undefined) {
        return;
      }

      if(this.hasWorkRequirement(detail)){
        this.selectedWork = workType;
        return;
      }

      this.selectedWork = null;
    }

    async workAsync():Promise<void>{
      if(this.isInvalid){
        return;
      }

      try{
        const postData:any = { type:this.selectedWork, energy:this.energy };
        const response:AxiosResponse<IWork> = await auth.api
          .instance.post<IWork>(`/game/npccustoms/${this.npcId}/work`,postData);
        character.setEnergyAsync(response.data.energyLeft);
        character.setMoneyAsync(response.data.totalMoney);
        this.message = String.Format(this.l.txt("Work.Worked"),response.data.wage);
      }
      catch(err){
        if(err.response.status === 409){
          this.message = err.response.data;
          this.selectedWork = null;
          await this.loadAsync();
        }
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.work-list{
  height:352px;
  overflow-y: auto;
}
</style>
