<template>
    <Main>
        <div class="card">
            <div v-if="npc" class="card-body">
                <h5 class="card-title">{{npc.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{l.lbl("Character.Level")}} {{npc.level}}</h6>
                <p>{{description}}</p>
                <div v-if="inLocation">
                    <span>{{l.lbl("Character.Money")}}: {{npc.money}}</span>
                    <Inventory :shopId="npc.id" @bought="bought" ref="npcItems" />
                    <PlayerInventory :shopId="npc.id" @sold="sold" ref="playerItems" />
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import character from "@/store/modules/character";
    import { ICharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app from "@/store/modules/app";
    import InitHelper from "@/store/init-helper";
    import auth from '@/store/modules/auth';
    import { ShopModule } from '@/store/modules/shop';
    import Inventory from '@/components/shops/Inventory.vue';
    import PlayerInventory from '@/components/shops/PlayerInventory.vue';
    import { IInventoryBuy } from "@/store/interfaces/shops/inventory";

    @Component({ components: { Main, Inventory, PlayerInventory } })
    export default class Shop extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        npc:ICharacter | null = null;
        inLocation:boolean = false;
        description: string = "";

        async created(): Promise<void>{
            app.setLoading("shop");
            const init = new InitHelper(this.l);
            await init.runAsync();

            const id:number = parseInt(this.$route.params.id);
            const response = await auth.api.instance.get<ICharacter>(`/game/npcshops/${id}/basic/`);
            if(character.playerinfo != null){
                this.inLocation = await ShopModule.InLocationAsync(response.data.id,character.playerinfo.coordinate);
            }

            const responseDesc = await auth.api.instance.get<string>(`/game/characters/${id}/description`)
            this.description = responseDesc.data;

            this.npc = response.data;
            app.deleteLoading("shop");
        }
        
        bought(data: IInventoryBuy): void {
            if(this.npc != null){
                this.npc.money = data.model.sellersMoney;
                const inv = this.$refs.playerItems as PlayerInventory;
                inv.loadItemsAsync();
            }
        }

        sold(data: IInventoryBuy): void {
            if(this.npc != null){
                this.npc.money = data.model.buyersMoney;
                const inv = this.$refs.npcItems as Inventory;
                inv.loadItemsAsync();
            }
        }
    }
</script>
<style scoped lang="scss">
</style>
