<template>
    <Main>
        <div class="card">
            <div v-if="enemy" class="card-body">
            <img v-if="!enemy.hasImage" 
                :src="app.publicPath + 'img/unknown.svg'" 
                class="mr-3 enemy-img float-left" :alt="l.lbl('Image.Unknown')" />
            <img v-if="enemy.hasImage" 
                :src="`${app.publicPath}img/enemies/${enemy.id}.svg`" 
                class="mr-3 enemy-img float-left" :alt="enemy.name" />
                <h5 class="card-title">{{enemy.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{l.lbl("Character.Level")}} {{enemy.level}}</h6>
                <ul class="list-unstyled">
                    <li>{{l.lbl("Character.Health")}} {{enemy.maxHealth}}</li>
                </ul>
                <p v-show="inLocation">
                    {{energyCostDesc}}
                </p>
            </div>
        </div>
        <Attack v-if="inLocation && !isAttacking" :canAttack="isValid" @attacked="attacked" />
        <div v-if="battle">
            <BattleLog :battle="battle" @closed="reset" />
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import Attack from "@/components/Attack.vue";
    import character from "@/store/modules/character";
    import { ICharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app, { AppModule } from "@/store/modules/app";
    import InitHelper from "@/store/init-helper";
    import auth from '@/store/modules/auth';
    import { EnemyModule } from '@/store/modules/enemy';
    import { IBattleOption } from "@/store/interfaces/battle-option";
    import { IBattle, IBattlePostData } from "@/store/interfaces/battle";
    import BattleLog from "@/components/battles/BattleLog.vue";
    import { String } from 'typescript-string-operations';

    @Component({ components: { Main, Attack, BattleLog } })
    export default class Enemy extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        enemy:ICharacter | null = null;
        battle:IBattle | null = null;
        inLocation:boolean = false;
        isAttacking:boolean = false; 

        get app(): AppModule {
            return app;
        }

        get energyCost():number{
            return 0.01;
        }

        get energyCostDesc():string{
            return String.Format(this.l.txt("Enemy.EnergyCost"),(this.energyCost * 100).toFixed(0));
        }

        async created(): Promise<void>{
            app.setLoading("enemy");
            const init = new InitHelper(this.l);
            await init.runAsync();      
            const response = await auth.api.instance.get<ICharacter>(`/game/npcenemies/${this.$route.params.id}/basic/`);
            if(character.playerinfo != null){
                console.log(character.playerinfo.coordinate);
                this.inLocation = await EnemyModule.InLocationAsync(response.data.id,character.playerinfo.coordinate);
            }

            this.enemy = response.data;
            app.deleteLoading("enemy");
        }

        get isValid():boolean{
            return character.playerinfo != null && character.playerinfo.energy > this.energyCost;
        }

        async attacked(option: IBattleOption): Promise<void>{
            const id:number = parseInt(this.$route.params.id,10);
            const postData:IBattlePostData = {id:id, option: option};
            const response = await auth.api.instance.post<IBattle>(`/game/npcenemies/${id}/attacksingle/`,postData);
            this.battle = response.data;
            character.loadAsync();
        }

        reset():void{
            this.isAttacking = false;
            this.battle = null;
        }
    }
</script>
<style scoped lang="scss">

</style>
