<template>
  <b-modal id="modalPlayerAttributes" hide-footer>
    <template v-slot:modal-title>
      {{l.ttl("Character.Attributes.Training")}}
    </template>
    <div v-if="player" class="d-block">
      <b-container fluid>
        <b-row class="my-1" v-for="attribute in attributes" v-bind:key="attribute.name">
          <b-col sm="6">
            <label>
              <i :class="attribute.icon"></i>
              {{l.lbl("Character." + attribute.name)}}
            </label>
          </b-col>
          <b-col sm="3">
            <b-form-input :value="getValue(attribute.name)" size="sm" readonly="readonly" />
          </b-col>
          <b-col sm="1">
            <b-button variant="success" @click="addValue($event,attribute)" :disabled="attributePoints == 0" size="sm">+</b-button>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <label>
              <i class="ra ra-feather-wing"></i>
              {{l.lbl("Character.Attributes")}}
            </label>
          </b-col>
          <b-col sm="3">
            <b-form-input :value="attributePoints" size="sm" readonly="readonly" />
          </b-col>
          <b-col sm="1">
            
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="mt-3 text-right border-top pt-3">
      <b-button @click="closeModal" class="mb-1 mr-1" variant="danger">{{l.act("Character.Attributes.SkipTraining")}}</b-button>
      <b-button @click="saveAsync" class="mb-1" variant="primary">{{l.act("Character.Attributes.Train")}}</b-button>
    </div>
  </b-modal>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { ICharacter } from "@/store/interfaces/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import location from "@/store/modules/location";
import { clone } from "@/store/utilities/utility";
import auth from '../../store/modules/auth';

interface IAttributeData {
  name:string;
  value:number;
  icon:string;
}

@Component
export default class AttributesModal extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    attributes : IAttributeData[] = this.getInitData();
    getInitData(): IAttributeData[]{
      return [
        {name:"Strength",value:0,icon:"ra ra-muscle-up"},
        {name:"Constitution",value:0,icon:"ra ra-muscle-fat"},
        {name:"Dexterity",value:0,icon:"ra ra-player-dodge"},
        {name:"Intelligence",value:0,icon:"ra ra-aware"},
      ];
    }

    getValue(name:string): number {
        const attribute = this.attributes.find(x => x.name == name);
        if(attribute != undefined){
          const key = attribute.name.toLowerCase(); 

          let currentValue = 0;
          if(this.player != null){
            const ply:any = this.player;
            currentValue = ply[key] as number;
          }

          return attribute.value + currentValue;
        }

        return 0;
    }

      addValue(e:Event, attribute: IAttributeData): void {
        if(attribute != undefined && this.attributePoints > 0){
          attribute.value++;
        }
    }

    get attributePoints(): number {
      if(this.player != null){
        let sum = this.attributes.map(x => x.value).reduce((a, c) => { return a + c });
        return this.player.attributes - sum;
      }
      
      return 0;
    }

    get player() : ICharacter | null{
      return character.playerinfo;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }

    closeModal(): void {
      this.attributes = this.getInitData();
      this.$bvModal.hide("modalPlayerAttributes");
    }

    async saveAsync(): Promise<void> {

      var postData: Record<string,number> = {};
      this.attributes.forEach(attribute => {
        const key:string = attribute.name.toLowerCase();
        postData[key] = attribute.value;
      });

      var response = await auth.api.instance.patch("/game/players/attributes", postData);
      character.loadAsync();
      this.closeModal();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .card-player-details{
    min-height: 200px;
  }
</style>
