<template>
  <div class="border w-100 small m-1 p-2 equipment-item">
      <i :class="`ra ${iconName} ra-3x`"></i>
      <div>
        <div :id="item ? 'eq_item' + item.id : ''" 
          class="bg-primary p-1 text-white equipment-item-name">{{item ? item.name : "N/A"}}</div>
        <div v-if="item">
            <PopOverItem v-if="item" :invItemName="item.name" :invItemId="item.id" targetPrefix="eq_item" />
        </div> 
        <b-button variant="link" @click="unequip($event,item.id)" :disabled="!item">Unquip</b-button>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import character from "@/store/modules/character";
import { IEquipmentItem } from "@/store/interfaces/item";
import localization, { LocalizationHelper } from "@/store/modules/localization";
import { clone } from "@/store/utilities/utility";
import auth from "../../store/modules/auth";
import PopOverItem from "@/components/items/PopOverItem.vue";

@Component({ components: { PopOverItem } })
export default class EquipmentItem extends Vue {
  l: LocalizationHelper = new LocalizationHelper();
  @Prop()
  item!: IEquipmentItem | null;
  @Prop()
  iconName!:string;

  async created(): Promise<void> {
    this.l.collection = "GameResource";
  }

  async unequip(e:Event,itemId:number) {
    e.preventDefault();
    if(this.item == null) return;
    await auth.api.instance.get(`/game/players/equipment/${this.item.id}/unequip`);
    return false;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .equipment-item{
    min-height: 162.400px;
  }
  .equipment-item-name{
    min-height: 46.400px;
  }
</style>
