<template>
  <b-modal id="modalEquipment" hide-footer @show="onShowAsync">
    <template v-slot:modal-title>{{l.ttl("Character.Equipments")}}</template>
    <div v-if="equipment">
      <div v-if="player" class="d-block">
        <div class="container text-center">
          <div class="row justify-content-md-center">
            <div class="col col-lg-4"></div>
            <div class="col col-lg-4">
              <EquipmentItem :item="equipment.head" iconName="ra-helmet" />
            </div>
            <div class="col col-lg-4"></div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-4">
              <EquipmentItem :item="equipment.weapon" iconName="ra-sword" />
            </div>
            <div class="col col-lg-4">
              <EquipmentItem :item="equipment.body" iconName="ra-vest" />
            </div>
            <div class="col col-lg-4"></div>
          </div>
        </div>
      </div>
      <div class="mt-3 text-right border-top pt-3">
        <b-button @click="closeModal" class="mb-1 mr-1" variant="primary">{{l.act("Common.Close")}}</b-button>
      </div>
    </div>
  </b-modal>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import character from "@/store/modules/character";
import { ICharacter, IEquipment } from "@/store/interfaces/character";
import localization, { LocalizationHelper } from "@/store/modules/localization";
import auth from "../../store/modules/auth";
import EquipmentItem from "./EquipmentItem.vue";

@Component({ components: { EquipmentItem } })
export default class EquipmentModal extends Vue {
  l: LocalizationHelper = new LocalizationHelper();
  equipment: IEquipment | null = null;

  get player(): ICharacter | null {
    return character.playerinfo;
  }

  async created(): Promise<void> {
    this.l.collection = "GameResource";
  }

  async onShowAsync(): Promise<void> {
    const response = await auth.api.instance.get<IEquipment>(
      "/game/players/equipment"
    );
    this.equipment = response.data;
    console.log("modalEquipment", this.equipment);
  }

  closeModal(): void {
    this.$bvModal.hide("modalEquipment");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
