<template>
  <div v-if="player" class="card card-player-details">
    <div class="card-body">
      <h5 class="card-title">{{player.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{l.lbl("Character.Level")}} {{player.level}}</h6>
      <ul class="list-unstyled">
        <li>{{l.lbl("Character.Health")}} <i class="ra ra-health"></i>
          <b-progress :max="player.maxHealth" v-bind:class="{ 'px-1': (player.health === 0) }">
            <b-progress-bar :value="player.health" variant="danger">
              <strong>{{ player.health.toFixed(0) }} / {{ player.maxHealth }}</strong>
            </b-progress-bar>
          </b-progress>
        </li>
        <li>{{l.lbl("Character.Energy")}} <i class="ra ra-lightning-bolt"></i>
          <b-progress :max="(player.maxEnergy)" v-bind:class="{ 'px-1': (player.energy === 0) }">
            <b-progress-bar :value="player.energy" variant="info">
              <strong>{{ (player.energy * 100).toFixed(0) }} %</strong>
            </b-progress-bar>
          </b-progress>
        </li>
        <li>{{l.lbl("Character.Experience")}} <i class="ra ra-hive-emblem"></i>
          <b-progress :max="1" v-bind:class="{ 'px-1': (player.experience === 0) }">
            <b-progress-bar :value="player.nextLevelFactor" variant="success">
              <strong>{{ player.experience }} / {{ player.nextLevel }}</strong>
            </b-progress-bar>
          </b-progress>
        </li>
        <li>{{l.lbl("Character.Damage")}} {{player.minDamage}}-{{player.maxDamage}} <i class="ra ra-broadsword"></i></li>
        <li>{{l.lbl("Character.Money")}} {{player.money.toFixed(2)}} <i class="ra ra-gold-bar"></i></li>
        <li>
          <div class="text-center border border-primary p-2 mt-2">
            <span :title="l.lbl('Character.Strength')">
              <i class="ra ra-muscle-up"></i>
              {{player.strength}}
            </span>
            <span :title="l.lbl('Character.Constitution')">
              <i class="ra ra-muscle-fat"></i>
              {{player.constitution}}
            </span>
            <span :title="l.lbl('Character.Dexterity')">
              <i class="ra ra-player-dodge"></i>
              {{player.dexterity}}
            </span>
            <span :title="l.lbl('Character.Intelligence')">
              <i class="ra ra-aware"></i>
              {{player.intelligence}}
            </span>
            <span :title="l.lbl('Character.Attributes')">
              <i class="ra ra-feather-wing"></i>
              {{player.attributes}}
            </span>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li>
          <router-link :to="{ name: 'home' }" exact>Adventure</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'player-inventory' }">Inventory</router-link>
        </li>
        <li v-if="location">
          <router-link :to="{ name: 'location', params: { id: location.id } }">Go to current location</router-link>
        </li>
        <li>
          <a href="#train" @click="showAttributesModal" v-bind:class="{ 'font-weight-bold': (player.attributes > 0) }">Train</a>
        </li>
        <li>
          <a href="#equipment" @click="showEquipmentModal">Equipment</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { ICharacter } from "@/store/interfaces/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import location from "@/store/modules/location";
import { ILocation } from '../../store/interfaces/location';

@Component
export default class PlayerCard extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    get player() : ICharacter | null{
      return character.playerinfo;
    }

    get location() : ILocation | null{
      return location.current;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }

    showAttributesModal(e:Event) {
      e.preventDefault();
      this.$bvModal.show("modalPlayerAttributes");
      return false;
    }

    showEquipmentModal(e:Event) {
      e.preventDefault();
      this.$bvModal.show("modalEquipment");
      return false;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
