<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{l.ttl("Battle")}}</h5>
      <ul id="battleLogList" class="list-unstyled">
        <li v-for="item in this.battle.rounds" v-bind:key="item.round" class="mb-4">
          <h6>Round {{item.round}}</h6>
          <ul class="list-unstyled">
            <li v-for="msg in item.messages" v-bind:key="msg">
              {{msg}}
            </li>
          </ul>
        </li>
      </ul>
      <a href="#close" @click="reset">Close</a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { ICharacter, ICharacterIndex } from "@/store/interfaces/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import { IBattle } from '@/store/interfaces/battle';

@Component
export default class BattleLog extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    @Prop()
    battle!:IBattle;

    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }
    reset(e:Event): void {
      e.preventDefault();
      this.$emit("closed");
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
