<template>
    <Main>
        <div class="card">
            <div class="card-body" v-if="hasCharacter">
                <h5 class="card-title">{{l.translate("Home.Actions.Title")}}</h5>
                <router-link to="locations">{{l.act("Home.Actions.Adventure")}}</router-link>
                <Chat />
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import character from "@/store/modules/character";
    import { ICharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app from "@/store/modules/app";
    import InitHelper from "@/store/init-helper";
    import Chat from '@/components/Chat.vue';

    @Component({ components: { Main, Chat } })
    export default class Home extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        async created(): Promise<void>{
            app.setNavBar(true);
            const init = new InitHelper(this.l);
            await init.runAsync();
            if(character.playerinfo == null){
                await character.newAsync();
                await init.runAsync();
            }

            if(character.playerinfo != null)
            {
                const info:ICharacter = character.playerinfo as ICharacter;
                if(info.name == null){
                    this.$router.push("/players/new");
                }
            }
        }

        get hasCharacter():boolean {
            return character.playerinfo != null && character.playerinfo.name != null;
        }
    }
</script>
<style scoped lang="scss">
</style>
