<template>
<CenterBannerBox :bannerTitle="l.ttl('Login')">
      <form>
        <label for="email" class="sr-only">{{l.lbl("Login.Email")}}</label>
        <b-form-input class="mb-1" id="email" v-model="email" :state="isEmailValid"
          :placeholder="l.txt('Login.Email')" type="text"></b-form-input>
        <label for="password" class="sr-only">{{l.lbl("Login.Password")}}</label>
        <b-form-input class="mb-4" id="password"  v-model="password" :state="isPasswordValid"
          :placeholder="l.lbl('Login.Password')" type="password"></b-form-input>
        <b-button block v-on:click="handleLoginAsync" :disabled="!isValid"
         variant="primary">{{l.act("Login.SignIn")}}</b-button>
      </form>
      <hr />
      <div>
        <router-link :to="{ name: 'register' }" exact>{{l.act("Login.SignUp")}}?</router-link>
      </div>
</CenterBannerBox>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import auth from '@/store/modules/auth'; 
import app from '@/store/modules/app';
import { IAuthData } from '@/store/interfaces/auth';
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import InitHelper from "@/store/init-helper";
import CenterBannerBox from "@/layout/CenterBannerBox.vue";
import { ValidatorUtility } from "@/store/utilities/validator-utility";

@Component({components: { CenterBannerBox }})
export default class Login extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    email:string = "";
    password: string = "";
    async created(): Promise<void> {
      app.setNavBar(false);
        const init = new InitHelper(this.l);
        await init.runAnonymousAsync();
    }

    get isEmailValid(){
      return ValidatorUtility.isEmailValid(this.email)
    }

    get isPasswordValid(){
      return ValidatorUtility.isPasswordValid(this.password)
    }

    get isValid(){
      return this.isEmailValid && this.isPasswordValid;
    }

    async handleLoginAsync(e: Event): Promise<void> {
        e.preventDefault();
        if(!this.isValid){
          return;
        }

        const authData: IAuthData | null | undefined = await auth.loginAsync({email:this.email, password:this.password});
        if(authData != undefined && authData != null && authData.token.length > 0){
          this.$router.push("/");
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
