<template>
<CenterBannerBox :bannerTitle="l.ttl('NotFound')">
  <a href="#GoBack" @click="goBack">{{l.act("NotFound.GoBack")}}</a>
</CenterBannerBox>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import auth from '@/store/modules/auth'; 
import app from '@/store/modules/app';
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import InitHelper from "@/store/init-helper";
import CenterBannerBox from "@/layout/CenterBannerBox.vue";

@Component({components: { CenterBannerBox }})
export default class NotFound extends Vue {
  l:LocalizationHelper = new LocalizationHelper();
    async created(): Promise<void> {
      app.setNavBar(false);
        const init = new InitHelper(this.l);
        await init.runAnonymousAsync();
    }

    goBack(e: Event): void {
      e.preventDefault();
      this.$router.back();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
