<template>
<CenterBannerBox :bannerTitle="l.ttl('Register')">
      <form>
        <label for="email" class="sr-only">{{l.lbl("Register.Email")}}</label>
        <b-form-input class="mb-1" id="email" v-model="email" :state="isEmailValid"
          :placeholder="l.txt('Register.Email')" type="text"></b-form-input>
        <label :for="password" class="sr-only">{{l.lbl("Register.Password")}}</label>
        <b-form-input class="mb-1" v-model="password" :state="isPasswordValid"
          :placeholder="l.lbl('Register.Password')" type="password"></b-form-input>
        <label :for="confirmPassword" class="sr-only">{{l.lbl("Register.ConfirmPassword")}}</label>
        <b-form-input class="mb-4" v-model="confirmPassword" :state="isConfirmPasswordValid"
          :placeholder="l.lbl('Register.ConfirmPassword')" type="password"></b-form-input>
        <b-button block @click="handleRegisterAsync" :disabled="!isValid" variant="primary">{{l.act("Register.SignUp")}}</b-button>
      </form>
      <a href="#GoBack" @click="goBack">{{l.act("NotFound.GoBack")}}</a>
</CenterBannerBox>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import auth from '@/store/modules/auth'; 
import app from '@/store/modules/app';
import { IAuthData } from '@/store/interfaces/auth';
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import InitHelper from "@/store/init-helper";
import CenterBannerBox from "@/layout/CenterBannerBox.vue";
import { ValidatorUtility } from "@/store/utilities/validator-utility";

@Component({components: { CenterBannerBox }})
export default class Register extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    email:string = "";
    password: string = "";
    confirmPassword: string = "";
    async created(): Promise<void> {
      app.setNavBar(false);
        const init = new InitHelper(this.l);
        await init.runAnonymousAsync();
    }

    get isEmailValid(){
      return ValidatorUtility.isEmailValid(this.email)
    }

    get isPasswordValid(){
      return ValidatorUtility.isPasswordValid(this.password)
    }

    get isConfirmPasswordValid(){
      return this.password === this.confirmPassword && this.confirmPassword.length > 0;
    }

    get isValid(){
      return this.isEmailValid && this.isPasswordValid && this.isConfirmPasswordValid;
    }

    goBack(e: Event): void {
      e.preventDefault();
      this.$router.back();
    }

    async handleRegisterAsync(e: Event): Promise<void> {
        e.preventDefault();
        if(!this.isValid){
          return;
        }

        const authData: IAuthData | null | undefined = await auth
          .registerAsync({
              email:this.email, 
              password:this.password,
              confirmPassword:this.confirmPassword
        });

        if(authData != undefined && authData != null && authData.token.length > 0){
          this.$router.push("/");
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
