.roulette-radios {
    label {
        min-width: 30px;
        padding: 0 2px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 5px;
        cursor: pointer;
        user-select: none;
        color: #fff;
        background-color: #666;
    }
 
    input {
      position: absolute;
      cursor: pointer;
      height: 0;
      width: 0;
      left: -2000px;
      &:checked, &:active, &:hover {
        ~ .label {
          color: yellow;
          text-decoration: underline;
        }
      }
    }
  }
  