<template>
    <div class="h-100">
        <div key="mainContainer">
            <div class="container-fluid page-body-wrapper">
                <div>
                    <SideBar></SideBar>
                    <main class="main-panel">
                        <transition name="fade2" mode="out-in">
                            <Loader key="loader" v-if="isLoading"/>
                        </transition>
                        <router-view :key="$route.fullPath" />
                    </main>
                    <NavBar v-if="layout.displayNavBar"></NavBar>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import Loader from "@/components/Loader.vue";
    import auth from "@/store/modules/auth";
    import app from "@/store/modules/app";
    import NavBar from "@/layout/Navbar.vue";
    import SideBar from "@/layout/Sidebar.vue";
import { IAppLayout } from './store/interfaces/app';

    @Component({
        components: {
            NavBar,
            Loader,
            SideBar
        }
    })
    export default class App extends Vue {
        get isAuthenticated(): boolean {
            return auth.isAuthenticated;
        }

        get layout(): IAppLayout {
            return app.layout;
        }

        get isLoading(): boolean {
            return app.isLoading;
        }
    }

</script>

<style lang="scss">
    @import 'App.scss';
</style>
