@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";

$brown:   #84633a !default;
$content-bg: #ecce9e !default;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$input-box-shadow:                      inset 0 1px 1px rgba($brown, .075) !default;

$component-active-bg: $brown;
$input-focus-border-color:   lighten($brown, 25%) !default;

$border-color: $brown;
$theme-colors: ( "primary": $brown);
$link-color:                              theme-color("primary");
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);

@import "../../node_modules/bootstrap/scss/variables";

$pagination-bg: none;
$pagination-border-color: $brown; 

$pagination-disabled-bg: $gray-800;
$pagination-disabled-border-color: $brown; 

$progress-bg: $gray-800;
$modal-content-bg: $content-bg;


$body-bg: #333;
$card-bg: $content-bg;
$card-color: $gray-800;

$navbar-dark-color: rgba($white, 0.6);
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, .25) !default;


