
html, body {
    height: 100%;
}

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import 'parts/layout';
@import 'parts/navigation';
@import 'parts/loader';
@import 'parts/animations';
@import 'parts/login';
@import 'parts/utilities';

@import 'parts/game/inventory';
@import 'parts/game/enemies';
@import 'parts/game/main';
@import 'parts/game/minigames/roulette';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

$ra-font-path: "~rpg-awesome/fonts";
@import "node_modules/rpg-awesome/scss/rpg-awesome.scss";