<template>
  <ul id="npcList" class="list-unstyled">
      <li v-for="item in npcs" v-bind:key="item.id">
          <router-link :to="{ name: 'npc', params: { id: item.id }}">{{ item.name }}</router-link>
      </li>
  </ul>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { ICharacter, ICharacterIndex } from "@/store/interfaces/character";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import location from "@/store/modules/location";

@Component
export default class Npcs extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    data:ICharacterIndex | null = null;

    @Prop()
    locationId!:string

    get npcs(){
      if(this.data != null){
        return this.data.characters.results;
      }

      return [];
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        if(this.locationId != undefined){
          const response = await auth.api.instance.get<ICharacterIndex>("/game/npccustoms?locationId=" + this.locationId)
          this.data = Object.assign({}, this.data, response.data);
          this.$set(this.data, 'characters', response.data.characters);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
