<template>
  <b-popover :target="'location_' + locationId"  triggers="hover" variant="primary" 
    placement="left" @show="onShowAsync">
    <template v-slot:title>{{ locationName }}</template>
    <div>
      <p>{{description}}</p>
    </div>
  </b-popover>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import app from '@/store/modules/app';

@Component
export default class PopOverLocation extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    
    @Prop()
    locationName!:string;
    @Prop()
    locationId!:string;

    description:string = "";

    async created(): Promise<void> {
        this.l.collection = "GameResource";

    }

    async onShowAsync(): Promise<void> {
      if(!this.description){
        const responseDesc = await auth.api.instance.get<string>(`/game/locations/${this.locationId}/description`)
        this.description = responseDesc.data;
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
