<template>
  <b-modal id="modalTravel" hide-footer>
    <template v-slot:modal-title>
      {{l.ttl("Character.Travel")}}
    </template>
    <div v-if=" selectedLocation">
      <div v-if="player" class="d-block">
          <p>Do you wish to travel to <strong>{{selectedLocation.name}}</strong> for <strong>{{selectedLocation.cost}}</strong> money?</p>
      </div>
      <div class="mt-3 text-right border-top pt-3">
        <b-button @click="closeModal" class="mb-1 mr-1" variant="danger">{{l.act("Character.Travel.Stay")}}</b-button>
        <b-button @click="travelAsync" class="mb-1" variant="primary" :disabled="player.money < selectedLocation.cost">{{l.act("Character.Travel")}}</b-button>
      </div>
    </div>
  </b-modal>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { ICharacter } from "@/store/interfaces/character";
import { ILocation } from "@/store/interfaces/location";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import location from "@/store/modules/location";
import { clone } from "@/store/utilities/utility";
import auth from '../../store/modules/auth';
import { GameUtility } from "@/store/utilities/game-utility";



@Component
export default class TravelModal extends Vue {
    l:LocalizationHelper = new LocalizationHelper();

    @Prop()
    selectedLocation:ILocation | null = null;

    get player() : ICharacter | null {
      return character.playerinfo;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }

    closeModal(): void {
      this.$bvModal.hide("modalTravel");
    }

    async travelAsync(): Promise<void> {
      if(this.selectedLocation != null){
        const postData = {};
        const response = await auth.api.instance.patch<boolean>(`/game/players/travel/${this.selectedLocation.id}`, postData);
        const pl:ICharacter = await character.loadAsync();
        location.loadIndexAsync(pl.coordinate);
        var result = await location.loadByCoordAsync(pl.coordinate);
        GameUtility.SetBackgroundByLocation(result);
      }

      this.closeModal();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .card-player-details{
    min-height: 200px;
  }
</style>
