<template>
  <div class="action-panel">
    <PortalTarget name="playerActionPanel"></PortalTarget>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";

@Component
export default class ActionPanel extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
