<template>
<div class="container h-100 d-flex justify-content-center">
  <div class="card app-sign-in-container max-width-mobile my-auto">
    <div class="card-body">
      <img alt="Rise of Heroes" src="@/assets/logo.png" class="mb-4">
      <h1 class="mb-3 font-weight-normal">{{bannerTitle}}</h1>
      <div class="banner-content">
        <slot></slot>
      </div>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import auth from '@/store/modules/auth'; 
import app from '@/store/modules/app';
import { IAuthData } from '@/store/interfaces/auth';
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import InitHelper from "@/store/init-helper";

@Component
export default class CenterBannerBox extends Vue {
    @Prop()
    bannerTitle!:string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
