<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7 grid-margin">
                <Notification />
                <slot></slot>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 grid-margin">
                <AttributesModal />
                <EquipmentModal />
                <ActionPanel>
                    <PlayerCard />
                </ActionPanel>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import PlayerCard from '@/components/players/PlayerCard.vue';
    import ActionPanel from '@/layout/ActionPanel.vue';
    import Notification from '@/components/Notification.vue';
    import AttributesModal from '@/components/players/AttributesModal.vue';
    import EquipmentModal from '@/components/players/EquipmentModal.vue';
    @Component({ components: { PlayerCard, AttributesModal, EquipmentModal, Notification, ActionPanel } })
    export default class Main extends Vue {

    }
</script>
<style scoped lang="scss">
</style>
