﻿<template>
    <nav class="navbar navbar-dark bg-danger fixed-bottom navbar-expand" id="mainMenu" aria-label="Main menu">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="d-none" id="mainMenuTitle">Rise of Heroes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="mainMenuList" class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link" title="Sign-out" aria-label="Sign-out">
                        <i class="fas fa-sign-out-alt" aria-hidden="true" @click="LogoutAsync"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import auth from "@/store/modules/auth";
    import { getModule } from 'vuex-module-decorators';
    import user from "@/store/modules/user";

    @Component
    export default class AppNavbar extends Vue {
        created(): void {
            user.getUserByToken();
        }
        
        get username() {
            return user.username;
        }

        get name() {
            return user.name;
        }

        async LogoutAsync(e:Event) {
            e.preventDefault();
            await auth.logoutAsync();
            window.location.href = window.origin + "/login";
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>

