<template>
  <div>
    <b-sidebar id="appSideBar" class="app-sidebar" title="Sidebar" 
      no-header width="56px" right z-index="1029" no-close-on-route-change
       v-model="displaySideBar">
      <div class="py-5">
        <b-list-group class="mx-auto">
          <b-list-group-item class="py-1" href="#some-link">A</b-list-group-item>
          <b-list-group-item class="py-1" href="#" active>B</b-list-group-item>
          <b-list-group-item class="py-1" href="#">C</b-list-group-item>
          <b-list-group-item class="py-1" href="#foobar" disabled>D</b-list-group-item>
        </b-list-group>
      </div>
    </b-sidebar>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import auth from '@/store/modules/auth'; 
import app from '@/store/modules/app';
import { IAuthData } from '@/store/interfaces/auth';
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import InitHelper from "@/store/init-helper";

@Component
export default class Sidebar extends Vue {
  get displaySideBar(): boolean {
      return app.layout.displaySideBar;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
