<template>
    <Main>
        <div class="card">
            <div v-if="npc" class="card-body">
                <h5 class="card-title">{{npc.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{l.lbl("Character.Level")}} {{npc.level}}</h6>
                <p>{{description}}</p>
                <div v-if="inLocation">
                    <span>{{l.lbl("Character.Money")}}: {{npc.money}}</span>
                    <div>
                    <b-nav>
                        <b-nav-item v-if="npc.hasBlackJack" 
                            @click="toogleCollapsible('blackjack')">blackjack</b-nav-item>
                        <b-nav-item v-if="npc.hasSlotMachine"
                            @click="toogleCollapsible('slotmachine')">slotmachine</b-nav-item>
                        <b-nav-item v-if="npc.hasSlotMachine"
                            @click="toogleCollapsible('roulette')">roulette</b-nav-item>
                    </b-nav>
                    </div>
                    <div v-if="npc.hasBlackJack">
                        <b-collapse id="collapseBlackJack" v-model="collapsibles['blackjack']">
                            <BlackJack :npcId="npc.id" @refreshed="refreshCharacterAsync" />
                        </b-collapse>
                    </div>
                    <div v-if="npc.hasSlotMachine">
                        <b-collapse id="collapseSlotMachine" v-model="collapsibles['slotmachine']">
                            <SlotMachine :npcId="npc.id" @refreshed="refreshCharacterAsync" ></SlotMachine>
                        </b-collapse>
                    </div>
                    <div v-if="npc.hasRoulette">
                        <b-collapse id="collapseRoulette" v-model="collapsibles['roulette']">
                            <Roulette :npcId="npc.id" @refreshed="refreshCharacterAsync" :displayGame="collapsibles['roulette']" />
                        </b-collapse>
                    </div>
                    <Work v-if="Object.keys(npc.workTypes).length > 0" :workTypes="npc.workTypes" :npcId="npc.id" />
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import character from "@/store/modules/character";
    import { ICustomCharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app from "@/store/modules/app";
    import InitHelper from "@/store/init-helper";
    import auth from '@/store/modules/auth';
    import { NpcCustomModule } from '@/store/modules/npc-custom';
    import BlackJack from '@/components/npcs/BlackJack.vue';
    import SlotMachine from '@/components/npcs/SlotMachine.vue';
    import Work from '@/components/npcs/Work.vue';
    import Roulette from '@/components/npcs/Roulette.vue';
    import { AxiosResponse } from 'axios';

    @Component({ components: { Main, BlackJack, SlotMachine, Work, Roulette } })
    export default class Npc extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        npc:ICustomCharacter | null = null;
        inLocation:boolean = false;
        description: string = "";
        collapsibles: Record<string,boolean> = {
            "blackjack":false,
            "slotmachine":false,
            "roulette":false
        };
        slotMachineVisible: boolean = false;
        rouletteVisible: boolean = false;

        toogleCollapsible(component:string){
            for (const key in this.collapsibles) {
                if (!this.collapsibles.hasOwnProperty(key)) {
                    continue;
                }

                if(key == component){
                    this.collapsibles[key] = !this.collapsibles[key];
                    continue;
                }

                this.collapsibles[key] = false;
            }
        }

        async created(): Promise<void>{
            app.setLoading("npccustom");
            const init = new InitHelper(this.l);
            await init.runAsync();

            const response = await this.getCharacterAsync();
            if(character.playerinfo != null){
                this.inLocation = await NpcCustomModule
                    .InLocationAsync(response.data.id,character.playerinfo.coordinate);
            }

            const responseDesc = await auth.api.instance
                .get<string>(`/game/characters/${response.data.id}/description`);
            this.description = responseDesc.data;

            this.npc = response.data;
            app.deleteLoading("npccustom");
        }

        async getCharacterAsync(): 
            Promise<AxiosResponse<ICustomCharacter>> {
            const id:number = parseInt(this.$route.params.id);
            return await auth.api.instance.get<ICustomCharacter>(`/game/npccustoms/${id}/basic/`);
        }

        async refreshCharacterAsync(): Promise<void> {
            const response = await this.getCharacterAsync();
            this.npc = response.data;
        }
    }
</script>
<style scoped lang="scss">
</style>
