<template>
<Main>
  <div class="card">
    <div class="card-body">
      <table id="inventoryTable" class="table table-sm table-bordered table-hover">
        <thead>
          <tr class="bg-primary text-white">
            <th></th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th><span class="sr-only">Action</span></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" v-bind:key="item.id" v-show="item.state != state.EQUIPED">
            <ImgCell :item="item" />
            <td>
              <PopOverItem :invItemName="item.name" :invItemId="item.id">
                <router-link :id="'inv_item' + item.id" :to="{ name: 'item', params: { id: item.id }}">{{ item.name }}</router-link>
              </PopOverItem>
            </td>
            <td>{{item.quantity}}</td>
            <td>{{item.totalWeight}}</td>
            <td>
              <a href="#" @click="handleUseAsync($event,item)">Use / Equip</a>
            </td>
          </tr>
          <tr v-if="items.length == 0">
            <td colspan="5"></td>
          </tr>
        </tbody>
      </table>
      <div class="overflow-auto">
        <b-pagination-nav :link-gen="linkGen" :number-of-pages="pageCount" use-router></b-pagination-nav>
      </div>
    </div>
  </div>
</Main>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { IInventoryItem, IInventoryIndex } from "@/store/interfaces/players/inventory";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import Main from '@/layout/Main.vue';
import InitHelper from "@/store/init-helper";
import app from "@/store/modules/app";
import { IItemGet } from '@/store/interfaces/item';
import { VueUtility } from '@/store/utilities/vue-utility';
import PopOverItem from "@/components/items/PopOverItem.vue";
import { ItemState } from '@/store/models/item-state';
import ImgCell from "@/components/items/ImgCell.vue";

@Component({components: { Main, PopOverItem, ImgCell }})
export default class Inventory extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    data:IInventoryIndex | null = null;
    pageCount:number = 1;
  
    get items(){
      if(this.data != null){
        return this.data.items.results;
      }

      return [];
    }

    get state(): ItemState{
      return ItemState;
    } 

    async created(): Promise<void> {
            const init = new InitHelper(this.l);
            app.setLoading("inventory");
            await init.runAsync();
            if(character.playerinfo == undefined)
            {
                this.$router.push("new-player");
                return;
            }
        this.l.collection = "GameResource";
        await this.loadItemsAsync();
        app.deleteLoading("inventory");
    }

    async loadItemsAsync():Promise<void>{
        const page: number = VueUtility.GetPageNum(this.$route);
        const response = await auth.api.instance.get<IInventoryIndex>(`/game/players/inventory?page=${page}`)
        this.data = Object.assign({}, this.data, response.data);
        if(this.data.items.pageCount > 0){
          this.pageCount = this.data.items.pageCount;
        }
        this.$set(this.data, 'items', response.data.items);
    }

    linkGen(pageNum:number) {
        return pageNum === 1 ? '?' : `?page=${pageNum}`
    }

    async handleUseAsync(e:Event,item:IInventoryItem) {
      e.preventDefault();
      if(this.data != null){
        const response = await auth.api.instance.get<IItemGet>(`/game/players/inventory/${item.id}/use`);
        const index:number = this.data.items.results.findIndex(x => x.id == item.id);
        
        if(response.data.item.quantity > 0){
          this.data.items.results[index].quantity = response.data.item.quantity;
          this.data.items.results[index].totalWeight = response.data.dynamicProperties.ItemCalculation.totalWeight;
        }else {
          console.log("Delete item from inventory.");
          this.data.items.results.splice(index,1);
        }

        //reload basic information;
        await character.loadAsync();
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
