<template>
    <div class="card col-sm-12 col-md-6 col-lg-7">
    <div class="card-body">
        <h5 class="card-title">{{l.translate("Start.NewPlayer.Title")}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{l.translate("Start.NewPlayer.SubTitle")}}</h6>
        <p class="card-text">{{l.txt("Start.NewPlayer")}}</p>
        <div class="clearfix">
            <img src="/img/middlegrounds/tree.svg" 
                class="magical-tree float-left" :alt="l.txt('Start.NewPlayer.Tree')">
            <form class="form-horizontal float-left">
                <div class="form-group">
                    <label for="name">{{l.lbl("Start.NewPlayer.Response")}}</label>
                    <b-form-input class="mb-4" id="name" 
                        v-model="name" :state="isValid" 
                        placeholder="....."></b-form-input>
                </div>
                <div>
                    <b-button block @click="handleSubmitAsync" variant="primary" 
                        :disabled="!isValid">
                        {{l.act("Start.NewPlayer.Response")}}
                    </b-button>
                </div>
            </form>
        </div>
    </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import character from "@/store/modules/character";

    @Component
    export default class NewPlayer extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        title:string = ""
        name:string = "";
        async created(): Promise<void> {
            await localization.loadAsync("GameResource")
            this.l.collection = "GameResource";
            if(character.playerinfo == null) {
                await character.newAsync();
            }
        }

        get isValid():boolean {
            return this.name.length > 1 && this.name.length <= 32;
        }

        async handleSubmitAsync(): Promise<void>{
            if(!this.isValid){
                return;
            }

            await character.setNameAsync(this.name);
            this.$router.push("/");
        }
    }
</script>

<style scoped>
    .magical-tree{
        width: 160px;
        height: auto;
    }
</style>