@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/mixins";

.inventory-img{
    width: 32px;
    height: auto;
    margin: auto 0;
    text-align: center;
}

.item-img{
    background-color: lighten($brown,30%);
    border: 4px solid $brown;
}