#appSideBar {
    background-color: transparent !important;
}

body {
    background-color: $body-bg;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

.main-panel{
   margin-top: 5rem; 
   padding-bottom: 72px + 25px;
}


.action-panel {
    min-height: 200px;
  }

@include media-breakpoint-up(md) {  
    .action-panel{
        position: sticky;
        top: 10px;
    }
}