@import '../variables';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
  background: #ecce9ed3;
  z-index: 1;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align:center;
  transform: translateX(-50%);
}

svg.loader-tree {

  display: block;
  width: 258px;
  height: 258px;
  position:absolute;
  top: 50%;
  left: 0;
  text-align:center;
  transform: translateY(-50%);

  .tree {
    fill: $brown;
  }

  .circle-mask {
    transform-origin: 50% 90%;
    animation: scale 5s infinite ease-out;
  }

  @keyframes scale {
    0%,
    100% {
      transform: scale(0);
    }
    7%,
    90% {
      transform: scale(0.4);
    }
    50% {
      transform: scale(1);
    }
  }
}



