<template>
<div>
  <table id="inventoryTable" class="table table-sm table-bordered table-hover">
    <thead>
      <tr class="bg-primary text-white">
        <th></th>
        <th>{{l.lbl("Item.Name")}}</th>
        <th>{{l.lbl("Item.Quantity")}}</th>
        <th>{{l.lbl("Item.Cost")}}</th>
        <th><span class="sr-only">{{l.lbl("Inventory.Action")}}</span></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" v-bind:key="item.id" v-show="item.quantity > 0">
        <ImgCell :item="item" />
        <td>
          <router-link :id="'inv_item' + item.id" :to="{ name: 'item', params: { id: item.id }}">{{ item.name }}</router-link>
          <PopOverItem :invItemName="item.name" :invItemId="item.id" />
        </td>
        <td>{{item.quantity}}</td>
        <td>{{item.actualCost}} / pcs</td>
        <td>
          <button class="btn btn-link" v-bind:class="{'disabled':!canBuy(1,item)}"
            @click="handleBuyAsync($event, item, 1)">{{l.act("Shop.Buy")}}</button>
        </td>
      </tr>
      <tr v-if="!items || items.length == 0 || items.findIndex(x => x.quantity > 0) == -1">
        <td colspan="5">
          {{l.txt("Shop.NoSale")}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="overflow-auto">
    <b-pagination-nav :link-gen="linkGen" :number-of-pages="pageCount" use-router></b-pagination-nav>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { IInventoryItem, IInventoryIndex, IInventoryBuy, IInventoryBuyPostData } from "@/store/interfaces/shops/inventory";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import PopOverItem from "@/components/items/PopOverItem.vue";
import ImgCell from "@/components/items/ImgCell.vue";
import app from "@/store/modules/app";
import { ICharacter } from "@/store/interfaces/character";

@Component({ components: { PopOverItem, ImgCell } })
export default class Inventory extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    data:IInventoryIndex | null = null;
    pageCount:number = 1;
    
    @Prop()
    shopId!:number 
    
    get items(){
      if(this.data != null){
        return this.data.items.results;
      }

      return [];
    }

    get canBuy(){
      return function(qty: number, item: IInventoryItem): boolean{
        if(character == null){
          return false;
        }

        const c:ICharacter = character.playerinfo as ICharacter; 
        if(c.money >= qty * item.actualCost){
          return true;
        }

        return false;
      };
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        await this.loadItemsAsync();
    }

    async loadItemsAsync():Promise<void>{
        const page: number = VueUtility.GetPageNum(this.$route);
        const response = await auth.api.instance.get<IInventoryIndex>(`/game/npcshops/${this.shopId}/inventory?page=${page}`)
        this.data = Object.assign({}, this.data, response.data);
        if(this.data.items.pageCount > 0){
          this.pageCount = response.data.items.pageCount;
        }
        
        this.$set(this.data, 'items', response.data.items);
    }

    linkGen(pageNum:number) {
        return pageNum === 1 ? '?' : `?page=${pageNum}`
    }

    async handleBuyAsync(e:Event, item: IInventoryItem, qty:number) {
      e.preventDefault();
      qty = qty || 1;
      const postData:IInventoryBuyPostData = {qty:qty};
      if(this.data != null && this.canBuy(postData.qty,item)){
        const response = await auth.api.instance.post<IInventoryBuy>(`/game/npcshops/inventory/buy/${item.id}`,postData)
        const index:number = this.data.items.results.findIndex(x => x.id == item.id);
        
        if(!response.data.isValid){
          return;
        }

        if(response.data.model.sellersQuantity > 0){
          this.data.items.results[index].quantity = response.data.model.sellersQuantity;
        }
        else
        {
          console.log("Shop","Delete item from inventory.");
          this.data.items.results.splice(index,1);
        }

        this.$emit('bought', response.data);
        await character.loadAsync();
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
