<template>
<div>
  <table id="inventoryTable" class="table table-sm table-bordered table-hover">
    <thead>
      <tr class="bg-primary text-white">
        <th></th>
        <th>{{l.lbl("Item.Name")}}</th>
        <th>{{l.lbl("Item.Quantity")}}</th>
        <th>{{l.lbl("Item.Cost")}}</th>
        <th><span class="sr-only">{{l.lbl("Inventory.Action")}}</span></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" v-bind:key="item.id" v-show="item.quantity > 0">
        <ImgCell :item="item" />
        <td>
          <router-link :id="'inv_item' + item.id" :to="{ name: 'item', params: { id: item.id }}">{{ item.name }}</router-link>
          <PopOverItem :invItemName="item.name" :invItemId="item.id" />
        </td>
        <td>{{item.quantity}}</td>
        <td>{{item.actualCost}} / pcs</td>
        <td>
          <a href="#sell" @click="handleSellAsync($event, item)">{{l.act("Shop.Sell")}}</a>
        </td>
      </tr>
      <tr v-if="!items || items.length == 0 || items.findIndex(x => x.quantity > 0) == -1">
        <td colspan="5">
          {{l.txt("Shop.NoPlayerItems")}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="overflow-auto">
    <b-pagination-nav :link-gen="linkGen" :number-of-pages="pageCount" use-router></b-pagination-nav>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import character from "@/store/modules/character";
import { IInventoryItem, IInventoryIndex, IInventoryBuy, IInventorySellPostData } from "@/store/interfaces/shops/inventory";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import location from "@/store/modules/location";
import { VueUtility } from "@/store/utilities/vue-utility";
import PopOverItem from "@/components/items/PopOverItem.vue";
import ImgCell from "@/components/items/ImgCell.vue";
import app from "@/store/modules/app";

@Component({ components: { PopOverItem, ImgCell } })
export default class Inventory extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    data:IInventoryIndex | null = null;
    pageCount:number = 1;
    
    @Prop()
    shopId!:number 
    
    get items(){
      if(this.data != null){
        return this.data.items.results;
      }

      return [];
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        await this.loadItemsAsync();
    }

    async loadItemsAsync():Promise<void>{
        const page: number = VueUtility.GetPageNum(this.$route);
        const response = await auth.api.instance
          .get<IInventoryIndex>(`/game/players/inventory/sell/${this.shopId}?page=${page}`);
        this.data = Object.assign({}, this.data, response.data);
        if(this.data.items.pageCount > 0){
          this.pageCount = response.data.items.pageCount;
        }
        
        this.$set(this.data, 'items', response.data.items);
    }

    linkGen(pageNum:number) {
        return pageNum === 1 ? '?' : `?page=${pageNum}`
    }

    async handleSellAsync(e:Event, item: IInventoryItem) {
      e.preventDefault();
      if(this.data != null){
        const postData:IInventorySellPostData = {qty:1,buyerId: this.shopId};
        const response = await auth.api.instance
          .post<IInventoryBuy>(`/game/players/inventory/${item.id}/sell`,postData);
        const index:number = this.data.items.results.findIndex(x => x.id == item.id);
        
        if(!response.data.isValid){
          return;
        }

        if(response.data.model.sellersQuantity > 0){
          this.data.items.results[index].quantity = response.data.model.sellersQuantity;
        }
        else
        {
          console.log("Delete item from inventory.");
          this.data.items.results.splice(index,1);
        }

        this.$emit('sold', response.data);
        await character.loadAsync();
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
