<template>
    <Main>
        <div class="card">
            <div v-if="item" class="card-body">
                <div class="media">
                    <img v-if="!item.hasImage" 
                        :src="app.publicPath + 'img/unknown.svg'" 
                        class="mr-3 item-img" :alt="l.lbl('Image.Unknown')" />
                    <img v-if="item.hasImage" 
                        :src="`${app.publicPath}img/items/${item.id}.svg`" 
                        class="mr-3 item-img" :alt="item.name" />
                    <div class="media-body">
                        <h5 class="mt-0">{{item.name}}</h5>
                        <p>{{description}}</p>
                        <ItemStatistic :item="item" />
                    </div>
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import character from "@/store/modules/character";
    import { ICharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app, { AppModule } from "@/store/modules/app";
    import { IItemResponse, IItemInformation } from '@/store/interfaces/item';
    import InitHelper from "@/store/init-helper";
    import auth from '@/store/modules/auth';
    import { PropertyUtility } from "@/store/utilities/property-utility";
    import { ItemModel } from '@/store/models/item';
    import ItemStatistic from '@/components/items/ItemStatistic.vue';

    @Component({ components: { Main, ItemStatistic } })
    export default class Item extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        model:ItemModel | null = null;
        description: string = "";
        async created(): Promise<void>{
            const init = new InitHelper(this.l);
            app.setLoading("item");
            await init.runAsync();
            if(character.playerinfo == undefined)
            {
                this.$router.push("new-player");
                return;
            }
            
            const id:number = parseInt(this.$route.params.id);
            const response = await auth.api.instance.get<IItemResponse>(`/game/items/${id}`);
            this.model = new ItemModel(response.data);

            const responseDesc = await auth.api.instance.get<string>(`/game/items/${id}/description`)
            this.description = responseDesc.data;

            app.deleteLoading("item");
        }

        get app(): AppModule {
            return app;
        }

        get item(): IItemInformation | null {
            if(this.model != null){
                return this.model.info;
            }

            return null;
        }
    }
</script>
<style scoped lang="scss">

</style>
