<template>
    <Main>
        <TravelModal :selectedLocation="selectedLocation" />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{l.translate("Locations.Adventure.Title")}}</h5>
                <table v-if="locations" id="locationsTable" class="table table-sm table-bordered table-hover">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Name</th>
                        <th>Distance</th>
                        <th><span class="sr-only">Action</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in locations" v-bind:key="item.id">
                        <td>
                        <router-link :id="'location_' + item.id" :to="{ name: 'location', params: { id: item.id }}">{{ item.name }}</router-link>
                        <PopOverLocation :locationName="item.name" :locationId="item.id" />
                        </td>
                        <td>{{item.distance}}</td>
                        <td>
                            <a href="#" @click="showTravelModal($event,item)">Travel</a>
                        </td>
                    </tr>
                    <tr v-if="locations.length == 0">
                        <td colspan="3"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import character from "@/store/modules/character";
    import { ICharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app from "@/store/modules/app";
    import location from "@/store/modules/location";
    import { ILocationIndex, ILocationResults, ILocation } from '@/store/interfaces/location';
    import InitHelper from "@/store/init-helper";
    import PopOverLocation from "@/components/locations/PopOverLocation.vue";
    import TravelModal from '@/components/locations/TravelModal.vue';

    @Component({ components: { Main, PopOverLocation, TravelModal } })
    export default class Locations extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        selectedLocation:ILocation | null = null;
        async created(): Promise<void>{
            const init = new InitHelper(this.l);
            app.setLoading("Locations");
            await init.runAsync();
            if(character.playerinfo == null)
            {
                this.$router.push("new-player");
                return;
            }

            await location.loadIndexAsync(character.playerinfo.coordinate);
            app.deleteLoading("Locations");
        }

        get locations(): Array<ILocation> | undefined {
            if(location.index != undefined){
                return location.index.locations.results;
            }

            return undefined;
        }

        showTravelModal(e:Event, location:ILocation) {
            e.preventDefault();
            if(location.distance === 0){
                return false;
            }

            this.selectedLocation = location;
            this.$bvModal.show("modalTravel");
            return false;
        }
    }
</script>
<style scoped lang="scss">
</style>
