<template>
    <Main>
        <div class="card">
            <div v-if="location" class="card-body">
                <h5 class="card-title">{{location.name}}</h5>
                <p>{{description}}</p>
                <div class="clearfix">
                    <div class="float-right">
                        <Enemies :locationId="location.id" />
                    </div>
                    <div class="float-left">
                        <Shops :locationId="location.id" />
                        <Npcs :locationId="location.id" />
                    </div>
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
    import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
    import Main from '@/layout/Main.vue';
    import Enemies from '@/components/locations/Enemies.vue';
    import Shops from '@/components/locations/Shops.vue';
    import Npcs from '@/components/locations/Npcs.vue';
    import character from "@/store/modules/character";
    import { ICharacter } from "@/store/interfaces/character";
    import localization, { LocalizationHelper  } from "@/store/modules/localization";
    import app from "@/store/modules/app";
    import auth from "@/store/modules/auth";
    import location from "@/store/modules/location";
    import { ILocationGet, ILocation } from '@/store/interfaces/location';
    import InitHelper from "@/store/init-helper";
    import {GameUtility} from "@/store/utilities/game-utility";
import { watch } from 'fs';

    @Component({ components: { Main, Enemies, Shops, Npcs } })
    export default class Location extends Vue {
        l:LocalizationHelper = new LocalizationHelper();
        data:ILocationGet | null = null;
        description: string = "";

        async created(): Promise<void>{
            const init = new InitHelper(this.l);
            app.setLoading("location");
            await init.runAsync();
            if(character.playerinfo == undefined)
            {
                this.$router.push("new-player");
                return;
            }

            const id:string = this.$route.params.id;
            const response = await auth.api.instance.get<ILocationGet>(`/game/locations/${id}`)
            this.data = response.data;

            const responseDesc = await auth.api.instance.get<string>(`/game/locations/${id}/description`)
            this.description = responseDesc.data;
            
            app.deleteLoading("location");
        }

        get inLocation(): boolean {
            if(location.current != null && this.location != null && location.current.id == this.location.id){
                return true;
            }
            
            return false;
        }


        @Watch("location")
        onLocationChanged(newVal:ILocation | null, oldVal: ILocation | null){
            if(newVal == null || newVal == oldVal){
                return;
            }

            this.$nextTick(() => {
                GameUtility.SetBackgroundByLocation(newVal);
            });
        }

        mounted(): void{

        }

        get location(): ILocation | null {
            if(this.data  != null && !app.isLoading){

                return this.data.location;
            }

            return null;
        }
    }
</script>
<style scoped lang="scss">
</style>
