<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{l.ttl("Attack")}}</h5>
      <form action="#">
        <b-form-group
          description=""
          :label="retreatLabel"
          label-for="retreatAtHealthPercent">
            <b-form-input v-model="option.retreatAtHealthPercent" id="retreatAtHealthPercent"
              type="range" min="0" max="100" step="10"></b-form-input>
          </b-form-group>
          <b-form-group v-show="showTarget"
            description=""
            :label="l.lbl('Attack.Target')"
            label-for="target">
            <b-form-select id="target" v-model="option.target" :options="targets"></b-form-select>
          </b-form-group>
          <b-form-group
            description=""
            :label="l.lbl('Attack.Tactic')"
            label-for="tactic">
            <b-form-select id="tactic" v-model="option.tactic" :options="tactics"></b-form-select>
          </b-form-group>
          <b-button variant="primary" @click="attack" :disabled="!canAttack" block>{{l.act("Attack")}}</b-button>
        </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import { IBattleOption } from "@/store/interfaces/battle-option";
import { ISelectOption } from "@/store/interfaces/form";
import auth from '../store/modules/auth';
import app from '../store/modules/app';

@Component
export default class Attack extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    option: IBattleOption = { retreatAtHealthPercent: 40, target: 0, tactic: 0 };
    targets: Array<ISelectOption> = [];
    tactics: Array<ISelectOption> = [];
    @Prop()
    canAttack!:boolean;
    @Prop()
    showTarget?:boolean;

    get retreatLabel(): string{
      return `${this.l.lbl("Attack.RetreatAtHealthPercent")}: ${this.option.retreatAtHealthPercent }%`;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        app.setLoading("targettypes");
        app.setLoading("tactictypes");

        const responseTargets = await auth.api.instance.get<ISelectOption[]>("/game/battles/targettypes");
        this.targets = responseTargets.data;
        app.deleteLoading("targettypes");
        const responseTactics = await auth.api.instance.get<ISelectOption[]>("/game/battles/tactictypes");
        this.tactics = responseTactics.data;
        app.deleteLoading("tactictypes");
    }

    attack(): void {
      this.$emit("attacked",this.option);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
