<template>
    <div id="Chat">
        <div class="clearfix border chat-content">
            <div id="ChatMessagesContainer" 
                @mouseover="setCanScrollToBottom($event,false)"
                @focus="setCanScrollToBottom($event,false)"
                @mouseout="setCanScrollToBottom($event,true)"
                @blur="setCanScrollToBottom($event,true)"
                class="float-left border-right h-100 w-75 overflow-auto">
                <ul id="ChatMessages" class="chat-messages list-unstyled p-2">
                    <li v-for="(item, index) in messages" v-bind:key="`chat-message-${index}`" :data-user-id="item.userId" 
                        v-bind:class="{ 'chat-private': item.isPrivate, 'chat-public': !item.isPrivate }"
                        v-show="(sendTo.length == 0 && !item.isPrivate) ||
                            userId == item.userId || sendTo.indexOf(item.userId) >= 0">
                        <p class="chat-item">
                            <strong class="chat-item-user">{{item.characterName}}</strong>: 
                            <span class="chat-item-message" v-html="item.message"></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="float-right h-100 w-25 text-right bg-white overflow-auto">
                <div class="list-group">
                    <a href="#" @click="unselectUsers($event)" class="list-group-item py-1">{{l.act("Chat.All")}}</a>
                    <a href="#" @click="selectUser($event,item.userId)" 
                        v-for="(item, index) in users" v-bind:key="`chat-user-${index}`" :data-user-id="item.userId" 
                        class="list-group-item py-1" 
                        v-bind:class="{'active': item.isSelected }">
                        {{item.name}}
                    </a>
                </div>
            </div>
        </div>

        <div class="chat-input-zone">
            <form @submit="sendAsync">
                <div class="form-group">
                    <label for="chatMessage">{{l.lbl("Chat.Message")}}</label>
                    <b-form-input id="chatMessage" v-model="message" :state="isValid" class="mb-1"></b-form-input>
                </div>
                <div class="form-group">
                    <b-button block variant="primary" @click="sendAsync">{{l.act("Chat.Send")}}</b-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from "@/store/modules/auth";
import user from "@/store/modules/user";
import * as signalR from "@microsoft/signalr";

interface IChatItem{
    characterId:number;
    characterName:string;
    message:string;
    userId:string;
    isPrivate:boolean;
}

interface IUserItem{
    characterId:number;
    name:string;
    userId:string;
    isSelected:boolean;
}

@Component({ components: { } })
export default class Chat extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    
    message:string = "";
    messages:Array<IChatItem> = [];
    sendTo:Array<string> = [];
    users:Array<IUserItem> = [];
    connection:signalR.HubConnection | null = null;
    scrollToBottom:boolean = true;
    static pingTimer:number | null = null;

    setCanScrollToBottom(e:Event, value:boolean): void {
        this.scrollToBottom = value;
    }

    get userId(): string {
        return user.user.id;
    }

    get isValid():boolean{
        if(this.message.length == 0 || this.message.length > 255){
            return false;
        }

        return true;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        await this.initAsync();
    }

    @Watch('messages', { deep:true })
    onMessagesChanged(value: string, oldValue: string) {
        var elm = this.$el.querySelector("#ChatMessagesContainer");
        if(elm != null && this.scrollToBottom){
            elm.scrollTo(0,elm.scrollHeight);
        }
    }

    async initAsync(): Promise<void>{
        this.connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:44311/hubs/chat", {
                accessTokenFactory: () => { return auth.data.token; }
            } as signalR.IHttpConnectionOptions)
            .build();

        const self = this;
        this.connection.on("messageReceived", (characterId: number,
        characterName: string,message: string, userId:string, isPrivate:boolean) => {
            self.messages.push({
                characterId:characterId,
                characterName:characterName,
                message:message,
                userId:userId,
                isPrivate:isPrivate
            }); 
        });

        this.connection.on("userListRefreshed", (collection:Array<IUserItem>) => {
            for (let index = 0; index < this.sendTo.length; index++) {
                const userId:string = this.sendTo[index];
                const item = collection.find(x => x.userId == userId)
                if(item){
                    item.isSelected = true;
                }
            } 

            self.users = collection; 
        });

        this.connection.on("pinged", (dateStr:string) => {
            console.log("ExpireAt",dateStr);
        });

        try{
            await this.connection.start();
            await this.connection.send("hasJoined");
            if(Chat.pingTimer != null){
                clearInterval(Chat.pingTimer);
            }

            Chat.pingTimer = window.setInterval(() => {
                if(self.connection != null){
                    self.connection.send("ping");
                }
            },1000*60);
        } catch(err){
            console.log("Chat",err)
            this.connection = null;
        }
    }

    selectUser(e:Event, userId:string): void{
        e.preventDefault();
        const index:number = this.sendTo.indexOf(userId);
        const item = this.users.find(x => x.userId == userId)
        if(index > -1){
            this.sendTo.splice(index,1);
            if(item){
                item.isSelected = false;
            }

            console.log("selectUser",false);
            return;
        }

        this.sendTo.push(userId);
        if(item){
            console.log("selectUser",true);
            item.isSelected = true;
        }
    }

    unselectUsers(e:Event): void{
        e.preventDefault();
        this.sendTo = [];
        this.users.forEach(x => { x.isSelected = false; });
    }

    async sendAsync(e:Event): Promise<void> {
        e.preventDefault();
        if(this.connection == null || !this.isValid){
            return;
        }

        try{
            if(this.sendTo.length > 0){
                await this.connection.send("NewPrivateMessage",this.sendTo, this.message);
            }else{
                await this.connection.send("newMessage", this.message);
            }
        } catch(err){
            console.log("Chat",err)
            this.connection = null;
        }

        this.message = "";
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .chat-content{
        height: 300px;

    }
</style>
