<template>
    <span></span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from "@/store/modules/auth";
import user from "@/store/modules/user";
import character from "@/store/modules/character";
import * as signalR from "@microsoft/signalr";
import { IReplenishedEnergy  } from "@/store/interfaces/players/energy";

@Component({ components: { } })
export default class Notification extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    connection:signalR.HubConnection | null = null;
    static pingTimer:number | null = null;
    static energyTimer:number | null = null;

    get userId(): string {
        return user.user.id;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
        await this.initAsync();
    }

    async initAsync(): Promise<void>{
        this.connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:44311/hubs/game", {
                accessTokenFactory: () => { return auth.data.token; }
            } as signalR.IHttpConnectionOptions)
            .build();

        const self = this;
        this.connection.on("pinged", (strDate: string) => {
            console.log("Notification pinged",strDate);
        });

        const replenishEnergy = function():void{
            if(self.connection == null){
                return;
            }
            
            self.connection.send("replenishEnergy");
        }

        this.connection.on("replenishedEnergy", (characterId: number, userId:string, data:IReplenishedEnergy) => {
            console.log("replenishedEnergy",data);
            if(character.playerinfo != null && data.energy != null){
                character.setEnergyAsync(data.energy);
            }

            if(Notification.energyTimer != null){
                clearTimeout(Notification.energyTimer);
            }

            Notification.energyTimer = window.setTimeout(replenishEnergy,data.nextUpdateAtMs);
        });

        try{
            await this.connection.start();
            replenishEnergy();
            if(Notification.pingTimer != null){
                clearInterval(Notification.pingTimer);
            }

            Notification.pingTimer = window.setInterval(() => {
                if(self.connection != null){
                    self.connection.send("ping");
                }
            },1000*60);
        } catch(err){
            console.log("Notification",err)
            this.connection = null;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
