<template>
    <div class="suited-cards-container">
      <span class="suited-card shadow border" v-for="card in cards" :key="card">
        <span :class="getCardColorClass(card) + ' suited-card-icon'">
          {{getUnicodeCard(card)}}
        </span>
      </span>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import unicodeCards from "@/store/models/unicode-cards";

@Component
export default class SuitedCard extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    @Prop()
    cards!:Array<string>;

    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }

    getUnicodeCard(card:string):string {
      return unicodeCards[card];
    }

    getCardColorClass(card:string):string {
      return (card.endsWith("_Diamond") || card.endsWith("_Hearts")) ? "suited-red" : "suited-black";
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.suited-card {
    font-style: normal;
    font-family: Arial;
    height: 80px;
    background-color: white;
    margin-bottom: 5px;
    cursor: default;
}
.suited-cards-container {
  display: flex;
}

.suited-card-icon{
  font-size: 80px;
  line-height: 1;
}

.suited-black {
  color: #161616;
}
.suited-red {
  color: #990000;
}
</style>
