<template>
    <td class="text-center">
        <router-link :id="'inv_item_img' + item.id" :to="{ name: 'item', params: { id: item.id }}">
        <img v-if="!item.hasImage" :src="app.publicPath + 'img/unknown.svg'" class="inventory-img" :alt="l.lbl('Image.Unknown')" />
        <img v-if="item.hasImage" :src="`${app.publicPath}img/items/${item.detailId}.svg`" :alt="item.name" class="inventory-img" />
        </router-link>
    </td>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { IInventoryItemBase } from "@/store/interfaces/item";
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import app, {AppModule} from "@/store/modules/app";

@Component({ components: { } })
export default class ImgCell extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    
    @Prop()
    item!:IInventoryItemBase 
    
    get app(): AppModule{
      return app;
    }

    async created(): Promise<void> {
        this.l.collection = "GameResource";
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
