<template>
  <ul class="list-unstyled" v-if="item">
      <li v-if="item.healingEffect > 0">{{l.lbl("Item.HealingEffect")}} {{item.healingEffect}}%</li>
      <li v-if="item.armor > 0">{{l.lbl("Item.Armor")}} {{item.armor}}</li>
      <li v-if="item.damage > 0">{{l.lbl("Item.Damage")}} {{item.damage}}</li>
      <li v-if="item.weight > 0">{{l.lbl("Item.Weight")}} {{item.weight}}</li>
  </ul>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import character from "@/store/modules/character";
import { IItemInformation } from "@/store/interfaces/item";
import localization, { LocalizationHelper } from "@/store/modules/localization";
import auth from "../../store/modules/auth";

@Component
export default class ItemStatistic extends Vue {
  l: LocalizationHelper = new LocalizationHelper();
  @Prop()
  item!: IItemInformation | null;

  async created(): Promise<void> {
    this.l.collection = "GameResource";
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
