<template>
  <div class="d-inline-block">
    <a href="#tooltip" @click="tooglePopover"><i class="mr-1 ra ra-help"></i></a>
    <slot></slot>
    <b-popover :show.sync="toggled" :target="targetingPrefix + invItemId"  triggers="hover focus" placement="left" variant="primary" 
      @show="onShowAsync">
      <template v-slot:title>{{ invItemName }}</template>
      <div>
        <p>{{description}}</p>
        <ItemStatistic :item="item" />
      </div>
    </b-popover> 
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import localization, { LocalizationHelper  } from "@/store/modules/localization";
import auth from '@/store/modules/auth';
import app from '@/store/modules/app';
import ItemStatistic from '@/components/items/ItemStatistic.vue';
import { ItemModel } from '@/store/models/item';
import { IItemResponse, IItemInformation } from '@/store/interfaces/item';

@Component({ components:{ ItemStatistic } })
export default class PopOverItem extends Vue {
    l:LocalizationHelper = new LocalizationHelper();
    model:ItemModel | null = null;

    @Prop()
    invItemName!:string;
    @Prop()
    invItemId!:number;
    @Prop()
    targetPrefix?:string;

    get targetingPrefix(): string{
      return this.targetPrefix != undefined ? this.targetPrefix : "inv_item";
    }

    description:string = "";
    toggled:boolean = false;

    async created(): Promise<void> {
        this.l.collection = "GameResource";

    }

    get item(): IItemInformation | null {
      if(this.model != null){
          return this.model.info;
      }

      return null;
  }

    async onShowAsync(): Promise<void> {
      if(!this.description){
        const response = await auth.api.instance.get<IItemResponse>(`/game/items/${this.invItemId}`);
        this.model = new ItemModel(response.data);

        const responseDesc = await auth.api.instance.get<string>(`/game/items/${this.invItemId}/description`)
        this.description = responseDesc.data;
      }
    }

    tooglePopover(e:Event):boolean {
      e.preventDefault();
      if(!this.toggled){

        this.toggled = true;
        return false;
      }

      this.toggled = false;
      return false;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
